.THIS .cLgnd_account_search .slds-listbox.slds-listbox_vertical.slds-dropdown.slds-dropdown_fluid{
  max-height: 250px;
  overflow-y:scroll;
}

.THIS .slds-modal__container {
  max-width: 50rem;
}

.THIS .slds-form-element.no-label label {
  display:none;
}

.THIS .task-complaint textarea,
.THIS .customer-notes textarea {
  height:125px;
}

.THIS .slds-pill.slds-pill_link.selected {
  background: yellow;
}

.THIS .slds-button.slds-button--success {
  color:white;
}

.THIS .estimation {
  padding: 0.25rem 0.75rem;
  border: 1px solid #75c170;
  border-radius: 4px;
  background: #60f780;
  font-size: 1rem;
  color: white;
  position: relative;
  bottom: 5px;
}

.THIS .slds-pill_container {
  display: block;
}