/**
 * Created by Tim on 2021-04-05.
 */

.model{
  display: flex;
  flex-wrap: wrap;
}

.model .model__intro{
  width: 100%;
}

.model .model__intro .intro___vitals{}

.model .model__intro .intro__photo{
  display: block;
  width: 60%; height: 0; padding-bottom: 25%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.model .model__specs, .model .model__motors{
  width: 50%;
}

.model .model__premiumPack{
  width: 100%;
}