
<div id='indicator'>

  <div class="sk-spinner">
    <div class="sk-bounce1"></div>
    <div class="sk-bounce2"></div>
    <div class="sk-bounce3"></div>
  </div>

  <div class="sk-error">
    <i class="fa fa-bug"></i>
    <span>Oh no! You have found a bug. <br /> Contact your developer with the following information:</span>
  </div>

  <div class="indicator_message">{{this}}</div>

  <!-- <div class="sk-no-records">
    <i class="fa fa-question-circle"></i>
    <span>Would you like to create the Commission Records now?</span>
    <div>
      <a href="cancel" class="fd_button small radius invert">Cancel</a>
      <a href="create" class="fd_button small radius invert success">Yes</a>
    </div>
  </div> -->

</div>

