<div class="user-selector">
  <div>
    {{#each users}}
      <div class="user-details">
        <a href="#" class="user-select" data-user-id="{{this.Id}}">
          <img src="{{this.FullPhotoUrl}}"></img>
          <p>{{this.FirstName}}</p>
          <p>{{this.LastName}}</p>
          <div>
            <i class="fa fa-spin fa-spinner"></i>
          </div>
        </a>
      </div>
    {{/each}}
  </div>

   <a href="#" class="close-user-selector">
    <i class="fa fa-close"></i>
  </a>
</div>
