.dummy{
	color : black;
}

.modalContainer{
	width:150%!important;
	max-width: none;
	min-width: unset;
	margin-left: -25%;
}

.modalContent{
	height: inherit!important;
}

.layoutContainer{
	width: 80%;
	margin-left: 10%;
}

.h3Header{
	color: rgb(0, 156, 219);
	font-size: x-large;
	font-weight: 700;			
}

.h2Header{
	color: #009CDB;
	font-weight: 700;		
}
.width10{
	width:10%;
}
.width25{
	width: 25%;
}
.width20{
	width: 20%;
}
.width15{
	width: 15%;
}
.width66{
	width: 66%;
}
.width40{
	width: 40%;
}
.width33{
	width: 33%;
}
.width80{
	width: 80%;
}
.webKitWidth{
	width: -webkit-fill-available;
}
.height100{
	height: 100%;
}
.tdHeader{
	font-weight: 700; font-size: larger;
}
.font700{
	font-weight: 700;
}
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}
.accordionContaier{
	background-color: lightgray;
	margin-bottom: -3.25%;
	margin-top: 0.5%;
	padding: .5%;
	color: lightgray;
}
.paddingLeft14{
	padding-left: 14px; 
}
.divSlot{
	font-weight: 700;
	width: 18.8%;
}

.tableBorder{
	border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}