.dummy{
	color : black;
}

.modalContainer{
	width:150%!important;
	max-width: none;
	min-width: unset;
	margin-left: -25%;
}

.modalContent{
	height: inherit!important;
}

.layoutContainer{
	width: 80%;
	margin-left: 10%;
}

.h3Header{
	color: rgb(0, 156, 219);
	font-size: x-large;
	font-weight: 700;			
}

.materialTableHeader{
	font-weight: 700;
    font-size: larger;
	padding-right: 4%!important;
}

.footerErrorDiv{
	margin-top: -9%;
    padding-bottom: 2%;
}

.h2Header{
	color: #009CDB;
	font-weight: 700;
    font-size: larger;	
	padding-bottom: 10px;
}
.width10{
	width:10%;
}
.width25{
	width: 25%;
	white-space: pre-wrap;
}
.width20{
	width: 20%;
	white-space: pre-wrap;
}
.width15{
	width: 15%;
	white-space: pre-wrap;
}
.width66{
	width: 66%;
	white-space: pre-wrap;
}
.width40{
	width: 40%;
	white-space: pre-wrap;
}
.width33{
	width: 33%;
}
.width80{
	width: 80%;
}
.webKitWidth{
	width: -webkit-fill-available;
	white-space: pre-wrap;
}
.wrapText{
	white-space: pre-wrap;
}
.height100{
	height: 100%;
}
.rightAlign{
	text-align: right;
}
.centerAlign{
	text-align: center;
	font-size: larger;
}
.fontlarger{
	font-size: larger;
}
.h3Alert{
	color: red;
	font-size: large;
	font-weight: 700	;
	text-align: center;
    margin-top: 5%;
}
.verticalAlignTop{
	vertical-align: top;
}
.totalSpan{
	font-size: small!important;
    font-weight: 400!important;
}
.totalBox{
	font-weight: 400!important;
	width: 66%!important;
	text-align: center!important;
	margin-top: 3%;
}
.tdHeader{
	color: rgb(0, 156, 219);
	font-weight: 700; 
	font-size: larger;
}
.font700{
	font-weight: 700;
}
.floatRight{
	float: right;
}
.floatLeft{
	float: left;
}
.accordionContaier{
	background-color: lightgray;
	margin-bottom: -3.75%;
	margin-top: 0.5%;
	padding: .5%;
	color: lightgray;
}
.paddingLeft14{
	padding-left: 14px; 
}
.divSlot{
	font-weight: 700;
	padding-right: 24px;
	text-align: right;
	font-size: larger;
}
.divSlot2{
	font-weight: 700;
	width: 28.5%;
	font-size: larger;
}
.paddingLeft2{
	padding-left: 2%;
}
.paddingLeft1{
	padding-left: 2%;
}
.paddingright9{
	padding-right: 9%;;
}
.width44{
	width: 44%;
}
.tableBorder{
	border-bottom: var(--lwc-borderWidthThin,1px) solid var(--lwc-colorBorder,rgb(221, 219, 218));
}