.THIS .availlable-packages {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.THIS .table-header {
  border-top: 1px solid #DDDBDA;
  border-bottom: 1px solid #DDDBDA;
  background: #FAFAF9;
  padding: 0.25rem 0;
  text-align: center;
  font-weight:bold;
  margin-bottom:0.25rem;
}

.THIS .table-scroll {
  overflow-y: auto;
  max-height: 300px;
  border-bottom: 1px solid #dddbda;
}

.THIS .product-code {
  font-size: 0.8rem;
}

.THIS td > div {
  font-weight:bold;
}

.THIS td > span.slds-badge {
  font-weight:initial;
}

.THIS td.button-col {
  vertical-align: middle;
  text-align: right;
}

.THIS lightning-input.has-change input {
  border-color: #c10202;
  background: #f35d5d;
  color: #FFF;
}

.THIS lightning-input.has-change input:active,
.THIS lightning-input.has-change input:focus {
  border-color: #c10202;
  box-shadow: 0 0 3px #a00101 !important;
}