/**
 * Created by Tim on 2021-03-23.
 */

.allModels{
  margin-top: 2.5em;
}
.allModels__seriesName{
  text-align: center;
}
.allModels__seriesBlurb{
  text-align: center;
}

.allModels__modelListing{
  margin-top: 1.5em;
  margin-bottom: 2.5em;
}