.THIS .table-title {
  background: #02ABEE;
  padding:0.25rem;
  color:#FFF;
}

/* SUMMARY TABLE */

.THIS .summary-table {
  border-top:none;
}

.THIS .summary-table tbody tr {
  line-height: 15px;
}

.THIS .summary-table tr th {
  padding:0.25rem;
  background: #ECECEC;
}

.THIS .summary-table.serialized tr th {
  padding:0.25rem;
  background: #02ABEE;
  color: #FFF;
}

.THIS .summary-table,
.THIS .summary-table thead tr th,
.THIS .summary-table tbody tr td {
  border-color:  #02ABEE;
  white-space: initial;
}

.THIS .summary-table tbody tr:first-child td {
  border-top-color: #c1c1c1;
}

.THIS .summary-table.serialized tbody td:first-child {
  width:25%;
}

.THIS .summary-table.serialized tbody td:first-child + td {
  width:75%;
}

.THIS .summary-table thead tr th:last-child,
.THIS .summary-table tbody tr td:last-child {
  text-align: right;
  padding-right: 5px;
}

.THIS .summary-table tbody tr td.upgrade-options {
  border-top: none;
  padding-top: 0;
}

.THIS .summary-table tbody tr td.upgrade-options table {
  overflow: hidden;
}

.THIS .summary-table tbody tr td.upgrade-options table tr td:first-child {
  width: 10%;
}

.THIS .summary-table tbody tr td.upgrade-options table tr td:first-child + td {
  width: 75%;
}

.THIS .summary-table tbody tr td.upgrade-options table tr td:last-child {
  width: 15%;
}