/**
 * Created by Tim on 2020-04-23.
 */
h1, h2, h3, h4, h5, h6{
    font-family: 'gotham_htf', Montserrat, Lato, Helvetica, Arial, sans-serif;
}

.summary{
    width: 100%;
    margin: 1em 0 2em;
}
.summary h3{
    font-size: 1.5em;
    font-weight: normal;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #d2d2d2;
}
.summary_list{
  font-size: 1.125em;
}
.summary_listItem{
  margin: 0.5em 0.25em;
}