.THIS.drag-container {
  overflow-y:auto;
  height:inherit;
  padding-bottom:4rem;
}

.THIS .slds-card.schedulable {
  background: #f3f2f2;
}

.THIS .slds-card.schedulable.Barrie {
  background: #D4F1FF;
}

.THIS .slds-card.schedulable.Montreal {
  background: #ffa9b7;
}

.THIS .slds-card.schedulable.Whitefish {
  background: #E7FFF1;
}

.THIS .slds-card.schedulable.scheduling {
  visibility: hidden;
}