/**
 * Created by Tim on 2021-05-07.
 */

.staff__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.5em;
}
.staff__list::after{
  content: '';
  flex: auto;
}

.staff__member{
  width: calc(25% - 1em);
  margin-bottom: 1em; margin-right: 1em;
	border: 1px solid var(--zebra)
}
.staff__member .staff__image{
  display: block;
  margin-bottom: 0.75em;
}
.staff__member figcaption{
  padding: 0 1em;
}
.staff__member figcaption .staff__name{
  line-height: 1;
}
.staff__member figcaption .staff__title{
  font-size: 0.85em;
}
.staff__member figcaption .staff__contact{
  display: flex;
  align-items: center;
  font-size: 0.85em;
}
.staff__member figcaption .staff__contact:first-of-type{
  margin-top: 0.5em;
  padding-top: 0.5em;
  border-top: 1px solid var(--hr);
}
.staff__member figcaption .staff__contact:last-of-type{
  margin-bottom: 0.5em;
}
.staff__member figcaption .staff__contact a{
  margin-left: 0.5em;
}