/**
 * Created by dave on 2020-01-02.
 */

.THIS .slds-modal__content {
  position: relative;
}

.THIS .slds-modal__content .lgnd-spinner {
  position:absolute;
}

.THIS .current-step-one .step-one {
  display:initial;
}

.THIS .current-step-one .step-two,
.THIS .current-step-one .step-three {
  display:none;
}

.THIS .current-step-two .step-two {
  display:initial;
}

.THIS .current-step-two .step-one,
.THIS .current-step-two .step-three {
  display:none;
}

.THIS .current-step-three .step-three {
  display:initial;
}

.THIS .current-step-three .step-one,
.THIS .current-step-three .step-two {
  display:none;
}

.THIS .slds-form-element {
  margin-bottom: 0.5rem;
}

.THIS .slds-form-element .slds-form-element__help {
  position:absolute;
  top:0;
  right:0;
}

.THIS .slds-textarea {
  height: 85px;
}

.THIS .fileList li {
  line-height: 1.75rem;
  border-top: 1px solid #d8dde6;
  color: #566b8f;
}

.THIS .fileList li:last-child {
  border-bottom: 1px solid #d8dde6;
  margin-bottom:10px;
}

.THIS .slds-modal__footer .next {
  float:right;
}

.THIS .slds-modal__footer .back {
  float:left;
}