<div layout="column" layout-fill class="app-content f1">
  <h1>{{f1Ctrl.title}} ( Lato Font )</h1>
  <h2>Grumpy wizards make toxic brew for the evil Queen and Jack.</h2>  <br />
  <h3>Grumpy wizards make toxic brew for the evil Queen and Jack.</h3>  <br />
  <h4>Grumpy wizards make toxic brew for the evil Queen and Jack.</h4>  <br />
  <p class='bold'>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  <p>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
  <p class='light'>Grumpy wizards make toxic brew for the evil Queen and Jack.</p>
</div>

</div>
