@import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700italic,700,800,800italic);


.row {
  max-width: 1200px;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

* .legendInvoice{
  font-family: "Lato", "Open Sans", sans-serif;
}

body .legendInvoice{
  font-family: "Lato", "Open Sans", sans-serif;
  color: #616262;
}

.legendInvoice h1 {
  font-family: "Lato", "Open Sans", sans-serif !important;
  font-size: 72px !important;
  color: #afafb0 !important;
  font-weight:300 !important;
}

.legendInvoice h2 {
  font-family: "Lato", "Open Sans", sans-serif !important;
  color: #616262 !important;
  font-weight:300 !important;
}

.legendInvoice h3 {
  font-family: "Lato", "Open Sans", sans-serif !important;
  color: #616262 !important;
  font-weight:300 !important;
}

.legendInvoice h4 {
  font-family: "Lato", "Open Sans", sans-serif !important;
}

.legendInvoice h5 {
  font-family: "Lato", "Open Sans", sans-serif !important;
}

.legendInvoice h6 {
  font-family: "Lato", "Open Sans", sans-serif !important;
}

#headerLogo {
  margin-top:15px;
}

.header {
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 10px;
}

.header .large-5,
.header .large-2 {
  margin-top: 20px;
}
.header .large-2,
header .large-5 {
  height: 90px;
  padding-left: 0;
}
.header .large-2 .header-contact,
.header .large-5 .header-contact {
  height: 90px;
  border-right: 1px solid #e3e2e2;
}
.header .large-5 .header-contact  {
  border-right:none;
}
.header .large-5 .header-contact img {
  width:90%;
}
.header .large-5 .header-contact .signature {
  margin-top:10px;
}
.header .large-5 .header-contact .signature p {
  font-size:14px;
  font-weight: 300;
}

.header .large-5 .header-contact .signature p span{
  font-size:18px;
  margin-left:10px;
}
.header .medium-4 {
  margin-top: 0px;
}
.header i {
  font-size: 24px;
  color: #1ba3e2;
}
.header p {
  color: #ababab;
  font-size: 10px;
  margin-bottom:0;
  line-height: 16px;
}
.header .icon-mail {
  width: 14%;
  max-width: 30px;
  margin-bottom: 13px;
}
.header .icon-telephone {
  max-width: 30px;
  margin-bottom: 5px;
  width: 12%;
}
.header .icon-web {
  max-width: 30px;
  width: 12%;
}

.header-bottom i {
  color: #1ba3e2;
}
.header-bottom h2 {
  font-size: 26px;
  font-weight: bold;
  color: #727478;
  margin: 0;
}
.header-bottom h3 {
  font-size: 18px;
  color: #727478;
}
.header-bottom h3 i {
  margin-right: 10px;
  font-size: 36px;
}
.header-bottom p {
  color: #727478;
}
.header-bottom p i {
  display: inline-block;
  width: 24px;
  margin-right: 8px;
  font-size: 28px;
  text-align: center;
}
.header-bottom .header-bottom-left {
  margin-top: 18px;
}
.header-bottom .header-bottom-left p {
  margin-bottom: 0;
  line-height: 16px;
}
.header-bottom .invoice-header table {
  width: 100%;
  border: none;
}
.header-bottom .invoice-header table i {
  display: inline-block;
  width: 40px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #afafb0;
  border-radius: 36px 36px 36px 36px;
  -moz-border-radius: 36px 36px 36px 36px;
  -webkit-border-radius: 36px 36px 36px 36px;
}
.header-bottom .invoice-header table thead td {
  background: #fff;
  padding: 0 0 10px 8px;
  vertical-align: bottom;
}
.header-bottom .invoice-header table tbody td {
  padding: 20px 10px 10px 10px;
  background: #1ba3e2;
  font-size: 16px;
  font-weight:300;
  color: #fff;
  position:relative;
}

.header-bottom .invoice-header table tbody td:before {
  content: '';
  background: #FFF;
  display: block;
  position: absolute;
  left: 22px;
  top: 0px;
  border-left: 12px solid #1ba3e2;
  border-right: 12px solid #1ba3e2;
  border-top: 12px solid rgba(0, 0, 0, 0);
}

.header-bottom .invoice-header table .circle {
  background: url("images/circle.png") no-repeat scroll 0 0/100% auto rgba(0, 0, 0, 0);
  height: 50px;
  padding: 16px 3px;
  text-align: center;
  width: 50px;
}
.header-bottom .invoice-header table .icon-dollar {
  width: 16px;
}
.header-bottom .invoice-header table .icon-calendar {
  width: 26px;
}
.header-bottom .invoice-header table .icon-barcode {
  width: 32px;
}
.header-bottom .invoice-header li {
  float: right;
}
.header-bottom .invoice-header p {
  padding: 20px 32px;
  background: #1ba3e2;
  color: #fff;
}
.header-bottom .icon-invoice {
  width: 5%;
  min-width: 22px;
}
.header-bottom .icon-mail {
  margin-right: 10px;
  min-width: 22px;
  width: 4%;
}
.header-bottom .icon-mobile {
  margin-left: 5px;
  margin-right: 16px;
  width: 2%;
  min-width: 12px;
}

.products-table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 0;
  border: none;
}
.products-table h5 {
  margin: 0;
  font-weight: bold;
  color: #616262;
}
.products-table th {
  padding: 5px;
  background: #fff;
  font-size: 16px;
  color: #1ba3e2;
  text-align: center;
}
.products-table th:first-child {
  text-align: left;
}
.products-table tbody tr:nth-child(odd) td {
  background: #D4EBF8;
}
.products-table tbody tr:nth-child(even) td {
  background: rgba(231, 241, 250, 0.79);
}
.products-table tbody td {
  padding: 14px;
  vertical-align: middle;
  color: #616262;
  text-align: center;
}
.products-table tbody td:first-child {
  text-align: left;
}
.products-table tbody p {
  margin: 0;
}

 .products-table.counterSale tbody tr td {
    vertical-align: top;
    width: 10%;
  }

  .products-table.counterSale tr td:first-child {
    width: 70%;
  }

  .legendInvoice .products-table tbody tr td:first-child .kit-contents {
    padding-left: 5px;
    width:112%;
    position:relative;
  }

  .legendInvoice .products-table tbody tr td:first-child .kit-contents table {
    width:100%;
  }

  .legendInvoice .products-table tbody tr td:first-child .kit-contents table tbody tr td {
    line-height: 1.4rem !important;
    font-size: 0.6rem !important;
    padding: 0 !important;
    border-bottom: 1px solid #CCC !important;
  }

  .legendInvoice .products-table tbody tr td:first-child .kit-contents table tbody tr td:first-child {
    border-left: 1px solid #CCC;
    padding-left: 10px !important;
    width: 95% !important;
  }

  .legendInvoice .products-table tbody tr td:first-child .kit-contents table tbody tr td:last-child {
    width: 5% !important;
    text-align: center !important;
  }

  .legendInvoice .products-table tbody tr td:first-child .kit-contents table tbody tr:first-child td {
    padding-top: 8px !important;
  }

.totals table {
  width: 100%;
  border: none;
}
.totals table tr td {
  background: #fff;
  font-size: 18px;
  text-align: right;
  color:#8F8F8F;
}

.totals table tr td:last-child {
  padding-right: 20px;
}
.totals table tfoot td {
  padding: 10px;
  background: #1ba3e2;
  color: #fff;
  font-size: 20px;
  font-weight:300;
}
.totals table .discount td {
  font-weight: bold;
  color: red;
}
.totals .signature {
  text-align: center;
}
.totals .signature .icon-signature {
  width: 40%;
  margin-bottom: 20px;
}
.totals .signature p {
  margin: 0;
}

.bottom-left {
  font-size: 12px;
}
.bottom-left table {
  border: none;
}
.bottom-left table thead th {
  background: #1BA3E2;;
  font-weight: normal;
  color: #fff;
}
.bottom-left table tbody td {
  padding-top: 30px;
  padding-bottom: 0;
  background: #fff;
  font-size: 18px;
  color: #8f8f8f;
}
.bottom-left p {
  margin: 0;
  font-size: 12px;
  line-height: 14px;
}
.bottom-left .icon-paypal {
  width: 20%;
}
.bottom-left .icon-cc {
  width: 6%;
}
.bottom-left .icon-western {
  width: 23%;
}
.bottom-left.show-for-small-only {
  text-align: center;
}

.terms {
  margin-top: 100px;
  font-size: 12px;
}

.footer {
  padding: 30px 0;
  background: url(images/footer.png) no-repeat top;
  font-size: 14px;
  color: #ababab;
}
.footer p {
  height: 50px;
  font-size: 11px;
  line-height: 14px;
  border-right: 1px solid #d4d2d2;
}
.footer img {
  width: 60px;
}

.print .header {
  width: 100%;
  border: none;
}
.print .header img {
  width: 230px;
}
.print .header td {
  vertical-align: top;
}
.print .header td p {
  font-size: 10px;
}
.print .header-bottom {
  width: 100%;
  border: none;
}
.print .header-bottom h1 {
  font-size: 40px;
}
.print .header-bottom .header-bottom-left h3 {
  margin: 0;
}
.print .header-bottom .header-bottom-left p {
  font-size: 12px !important;
}
.print .header-bottom .invoice-header td {
  vertical-align: bottom !important;
}
.print .header-bottom .invoice-header table {
  width: 100%;
  border: none;
}
.print .header-bottom .invoice-header table h1 {
  margin: 0 !important;
}
.print .header-bottom .invoice-header table tbody td {
  padding: 0;
}
.print .products-table th {
  font-size: 16px !important;
}
.print .products-table h5 {
  font-size: 13px !important;
}
.print .products-table p {
  font-size: 12px !important;
}
.print .bottom {
  width: 100%;
  border: none;
}
.print .bottom-left {
  font-size: 12px;
}
.print .bottom-left table {
  border: none;
}
.print .bottom-left table tbody td {
  padding-top: 30px;
  padding-bottom: 0;
  font-size: 18px;
}
.print .bottom-left p {
  margin: 0;
  font-size: 12px;
}
.print .totals table {
  width: 100%;
  border: none;
}
.print .totals table tr td {
  font-size: 14px;
  text-align: right;
}
.print .totals table tfoot td {
  background: #1ba3e2 !important;
  color: #fff;
  font-size: 20px;
}
.print .totals table .discount td {
  font-weight: bold;
  color: red !important;
}
.print .totals .signature {
  text-align: center;
}
.print .totals .signature img {
  margin-bottom: 10px;
}
.print .totals .signature p {
  margin: 0;
}
.print .terms {
  width: 100%;
  margin: 0 !important;
  border: none;
}

@media print {
  .print-only .header {
    width: 100%;
    border: none;
  }
  .print-only .header img {
    width: 230px;
  }
  .print-only .header td {
    vertical-align: top;
  }
  .print-only .header td p {
    font-size: 10px;
  }
  .print-only .header-bottom {
    width: 100%;
    border: none;
  }
  .print-only .header-bottom h1 {
    font-size: 40px;
  }
  .print-only .header-bottom .header-bottom-left h3 {
    margin: 0;
  }
  .print-only .header-bottom .header-bottom-left p {
    font-size: 12px !important;
  }
  .print-only .header-bottom .invoice-header {
    vertical-align: bottom !important;
  }
  .print-only .header-bottom .invoice-header table {
    width: 100%;
    margin: 0 !important;
    border: none;
  }
  .print-only .header-bottom .invoice-header table h1 {
    margin: 0 !important;
  }
  .print-only .header-bottom .invoice-header table tbody td {
    padding: 0;
  }
  .print-only .products-table th {
    font-size: 16px !important;
  }
  .print-only .products-table h5 {
    font-size: 13px !important;
  }
  .print-only .products-table p {
    font-size: 12px !important;
  }
  .print-only .bottom {
    width: 100%;
    border: none;
  }
  .print-only .bottom-left {
    font-size: 12px;
  }
  .print-only .bottom-left table {
    border: none;
  }
  .print-only .bottom-left table tbody td {
    padding-top: 30px;
    padding-bottom: 0;
    font-size: 18px;
  }
  .print-only .bottom-left p {
    margin: 0;
    font-size: 12px;
  }
  .print-only .totals table {
    width: 100%;
    border: none;
  }
  .print-only .totals table tr td {
    font-size: 14px;
    text-align: right;
  }
  .print-only .totals table tfoot td {
    background: #1ba3e2 !important;
    color: #fff;
    font-size: 20px;
  }
  .print-only .totals table .discount td {
    font-weight: bold;
    color: red !important;
  }
  .print-only .totals .signature {
    text-align: center;
  }
  .print-only .totals .signature img {
    margin-bottom: 10px;
  }
  .print-only .totals .signature p {
    margin: 0;
  }
  .print-only .terms {
    width: 100%;
    margin: 0 !important;
    font-size: 10px;
    border: none;
  }
  .print-only .footer {
    width: 100%;
    border: none !important;
  }
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .header .large-2 {
    padding-left: 20px;
  }
  .header .large-2 .header-contact {
    min-height: 100px;
    border-right: none;
  }
  .header .header-contact {
    min-height: 100px;
    border-right: none;
  }

  .footer {
    padding: 30px 0;
    background: url(images/footer.png) no-repeat top;
    font-size: 14px;
    color: #ababab;
  }
}
@media only screen and (max-width: 40em) {
  .header .large-2 {
    padding-left: 20px;
  }
  .header .large-2 .header-contact {
    min-height: 100px;
    border-right: none;
  }

  .footer {
    padding: 30px 0;
    background: url(images/footer.png) no-repeat top;
    font-size: 14px;
    color: #ababab;
  }
}


