body {font-family: sans-serif !important;}
/*body{margin:0; padding:0;font-family:Verdana, Geneva, sans-serif;font-size:13px;}*/
.wraper{width:700px; margin:0 auto;}
.contenner{width:100%;margin:0 auto;padding:15px 8px;}
.heading{height:150px;padding:15px 0 0 0;}
.headerLeft{float:left; width:35%;}
.headerLeft img{float:left;}
.headerRight{float:right; width:58%; background:#fff; height:100px; border-bottom:#444 solid 1px; margin-top:40px;}
.right1{width:35%; float:left; height:80px; background:#fff;border-right:#444 solid 1px;}
.right1 p a{ text-decoration:none; color:#444;font-size: 11px;line-height: 14px;}
.right2 p{ text-decoration:none; color:#444;font-size: 10px;line-height: 14px; padding-left:5px;}
.right2{width:30%; float:left; height:80px; background:#fff;border-right:#E6E4E4 solid 1px;padding: 0 0px 0 25px;}
.right3{width:25%; float:left; height:80px; background:#fff; padding-left:20px;}
.right3 p a{ text-decoration:none; color:#444;font-size: 11px;line-height: 14px;}
.right3 p{padding-left:4px}
.odd_row td{background:#E8E8E9;line-height: 25px;font-size: 12px;}
.even_row td{background:#F7F5F5;line-height: 25px;font-size: 12px;}
p{margin:0; padding:0;}
.body_con{ height:400px;}
/*
.footer{width:90%; height:120px; margin:0 auto; background:#fff;}
.foot_content{width:100%; margin:0 auto; height:80px; margin-top:20px;}
.foot_left{width:20%; float:left; height:80px; background:#fff;}
.foot_left img{ padding-top:22px;}
.foot_right{width:68%; float:right; height:80px; background:#fff;}
.foot_right1{width:30%; float:left; background:#fff; height:64px; border-right:#E6E4E4 solid 1px; padding-top:16px;}
.foot_right1 p a{ text-decoration:none; color:#999999;font-size: 11px;line-height: 16px;}
.foot_right2 p{ text-decoration:none; color:#999999;font-size: 11px;line-height: 16px;}
.foot_right3 p a{ text-decoration:none; color:#999999;font-size: 11px;line-height: 16px;}

.foot_right2{width:30%; float:left; background:#fff; height:64px; border-right:#E6E4E4 solid 1px; padding-top:16px; padding-left:30px;}
.foot_right3{width:185px; float:left; background:#fff; height:64px;padding-top:16px; padding-left:30px;}
*/
.header2{width:100%; height:250px; background:#fff;}
.header2Left{float:left; width:38%; height:200px; background:#fff;}
.header2Left p{color:#444; font-size:12px;}
.header2Left .p1 span{ position:relative; bottom:4px; padding-left:4px;}
.header2Left .p2{ color:#444; font-size:16px; font-weight:bold; padding:10px 0px 0px 4px;}
.header2Left .p5{ text-decoration:none; font-size:12px; color:#444; padding-top:15px;}
.header2Left .p5 a{ text-decoration:none; font-size:12px; color:#444; padding-left:5px; position:relative; bottom:4px;}
.header2Left .p6{ text-decoration:none; font-size:12px; color:#444; padding-top:8px;}
.header2Left .p6 a{ text-decoration:none; font-size:12px; color:#444; padding-left:15px; position:relative; bottom:4px;}


.header2Right{float:right; width:58%; background:#fff; height:250px;}
.right_head1{font-size: 45px;
color: #7f8181;
font-weight:bold;
font-style: normal;
line-height: 30px; float:left;}
.joe_sale{float:right;}
.joe_sale ul{list-style:none; position:relative; top:-14px; right:40px;}
.bg_img{width:610px; height:100px; background:url('../image/Invoice_head_bg.gif') no-repeat;}
.icon_wrap{width:100%; background:#fff; margin-top:17px}
.icon_wrap1{width:25%; float:left; background:#fff; height:80px;}
.icon_wrap1 img{padding:10px 0px 0px 18px;}
.icon_wrap2 img{padding: 10px 0 0 45px;}
.icon_wrap3 img{padding: 10px 0 0 45px;}
.icon_wrap2{width:33%; float:left; background:#fff; height:80px; margin:0 5px 0 5px;}
.icon_wrap3{width:33%; float:left; background:#fff; height:80px;}
.bg_img1{width:25%; float:left; height:75px; margin-top:25px; color:#fff;}
.bg_img2{width:36%; float:left; height:75px; margin:25px 5px 0 5px; color:#fff; padding-left:35px;}
.bg_img3{width:160px; float:left; height:75px; margin-top:25px; color:#fff;}
.bg_img1 .para1{font-size:16px; font-weight:600;padding: 5px 0px 0px 45px;}
.bg_img1 .para2{font-size:24px; font-weight:600;padding: 5px 0px 0px 45px;}
.bg_img2 .para3{font-size:16px; font-weight:600;padding: 5px 0px 0px 35px;}
.bg_img2 .para4{font-size:24px; font-weight:600;padding: 5px 0px 0px 35px;}
.bg_img3 .para5{font-size:16px; font-weight:600;padding: 5px 0px 0px 15px;}
.bg_img3 .para6{font-size:24px; font-weight:600;padding: 5px 0px 0px 15px;}
.product_head{width:100%; height:30px; margin-top:20px;}
.product_head ul{list-style:none;}
.product_head ul li{float:left; display:inline; font-size:14px; font-weight:bold; color:#87D2DE;}
.body_con_odd{width:100%; height:auto; overflow:auto; padding:10px 0 10px 0;  background:#E8E8E9; color:#000;}
.body_con_odd ul{list-style:none;}
.body_con_odd ul li{float:left; display:inline; font-size:12px; font-weight:bold; color:#000;}
.body_con_odd ul li ul{ list-style:none; margin:0; padding:0;}
.body_con_odd ul li ul li{ padding-left:10px;}
.body_con_even{width:100%; height:auto; overflow:auto; padding:10px 0 10px 0; background:#F7F5F5; color:#000;}
.body_con_even ul{list-style:none;}
.body_con_even ul li{float:left; display:inline; font-size:12px; font-weight:bold; color:#000;}
.body_con_even ul li ul{ list-style:none; margin:0; padding:0;}
.body_con_even ul li ul li{ padding-left:10px;}

.wrap{width:100%; height:40px;}
