/**
 * Created by Tim on 2020-04-22.
 */

.options{
    margin-top: 4vw;
}
.options_title{
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-family: 'gotham_htf';
}
.options_list, .options_item{
    width: 100%;
}
