.THIS .select-auto-width{
    display: inline-block;
}
.THIS .select-auto-width > .slds-select{
	margin-top: 5px !important;
    border: none !important;
    background: none !important;
}
.THIS .account-type-selector .slds-form-element__label{
    display: none !important;
}
.THIS .chart-section{
    position:absolute;
    left:0;
    top:0;
}
.THIS .full-width{
    width:100%;
}
.THIS .lightgreen{
    background:lightgreen;
}
.THIS .green{
    background:green;
}
.THIS .blanchedalmond{
    background:blanchedalmond;
}
.THIS .red{
    background:red;
}
.THIS .blue{
    background:lightblue;
}
.THIS .center-text{
    text-align:center;
}
.THIS .left-text{
    text-align:left;
}
.THIS .right-text{
    text-align:right;
}
.THIS .small-height{
    height:8px;
    font-size:0.8em;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 8px;
    vertical-align: top;
}
.THIS .bar-span{
    height:10px;
    width:1px;
    background:black;
    display:block;
    float:left;
    margin-right:2px;
}