.THIS .min-height-container {
  min-height: 300px;
}

.THIS.slds-hidden {
  height:0;
  overflow:hidden;
}

.THIS .contacts .slds-pill__action.no-delete {
  padding-right: 0.125rem;
}

.THIS .contacts .slds-pill__action.no-delete + button {
  display:none;
}

.THIS .slds-pill.slds-pill_link.selected {
  background: yellow;
}