/**
 * Created by Tim on 2021-07-08.
 */
.series{
  padding-top: 3vw;
  position: relative;
}
.series__seriesName{
  width: 100%;
	position: relative;
	z-index: 4;
}
.series__copyWrap{
	display: flex;
	position: relative;
	z-index: 4;
}
.series__copyWrap .series__copy{
	width: 380px;
	min-width: 380px;
	line-height: 1.5;
}
.series__seriesBlurb{
  margin-bottom: 1.25em;
}
.series__copyWrap .series__profile{
  width: 63%;
  max-width: 810px;
}

.series_item_imagery{
  position: absolute;
	top: 0;
	right: -2%;
	width: 58%;
	height: 100%;
	z-index: 1;
}
.series_item_imagery::before{
  content: "";
	display: block;
	position: absolute;
	z-index: 1;
	width: 101%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.series_item_imagery.x::before{
  background-color: #19417e;
	clip-path: polygon(26% 10%, 45% 10%, 80% 100%, 60% 100%);
	-webkit-clip-path: polygon(26% 10%, 45% 10%, 80% 100%, 60% 100%);
}
.series_item_imagery.xtr::before {
	background-color: #de1d0b;
	clip-path: polygon(26% 20%, 68% 20%, 75% 10%, 98% 10%, 80.5% 60%, 60% 60%, 45% 98%, 1% 98%);
	-webkit-clip-path: polygon(26% 20%, 68% 20%, 75% 10%, 98% 10%, 80.5% 60%, 60% 60%, 45% 98%, 1% 98%);
}
.series_item_imagery.xte::before {
	background-color: #a1cd3a;
	clip-path: polygon(10% 6%, 91% 6%, 91% 20%, 96% 30%, 96% 55%, 90% 55%, 89% 100%, 8% 100%, 8% 85%, 3% 75%, 3% 40%, 10% 40%);
	-webkit-clip-path: polygon(10% 6%, 91% 6%, 91% 20%, 96% 30%, 96% 55%, 90% 55%, 89% 100%, 8% 100%, 8% 85%, 3% 75%, 3% 40%, 10% 40%);
}
.series_item_imagery.f::before {
	background-color: #0d253a;
	clip-path: polygon(10% 0, 92% 0, 92% 100%, 10% 100%);
	-webkit-clip-path: polygon(10% 0, 92% 0, 92% 100%, 10% 100%);
	left: -2em;
}

.series_item_bg {
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.series_item_bg.x {
	clip-path: polygon(40% 0, 90% 0, 65% 100%, 15% 100%);
	-webkit-clip-path: polygon(40% 0, 90% 0, 65% 100%, 15% 100%);
}
.series_item_bg.xtr {
	clip-path: polygon(35% 0, 100% 0, 65% 100%, 3% 100%);
	-webkit-clip-path: polygon(35% 0, 100% 0, 65% 100%, 3% 100%);
}
.series_item_bg.xte {
	clip-path: polygon(10% 0, 90% 0, 90% 20%, 95% 30%, 95% 75%, 90% 85%, 90% 100%, 10% 100%, 10% 85%, 5% 75%, 5% 30%, 10% 20%);
	-webkit-clip-path: polygon(10% 0, 90% 0, 90% 20%, 95% 30%, 95% 75%, 90% 85%, 90% 100%, 10% 100%, 10% 85%, 5% 75%, 5% 30%, 10% 20%);
}
.series_item_bg.r,
.series_item_bg.f,
.series_item_bg.v-series,
.series_item_bg.q-series,
.series_item_bg.e-series,
.series_item_bg.splash{
	clip-path: polygon(10% 0, 92% 0, 92% 100%, 10% 100%);
	-webkit-clip-path: polygon(10% 0, 92% 0, 92% 100%, 10% 100%);
}

.series_item_imagery::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: -50%;
	width: 150%;
	height: 50%;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 100%);
}