.THIS {
  font-family: 'gotham_htf', Montserrat, Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
	position: relative;
}
.THIS .PHONE{
  display: none!important;
}

.THIS.storeHeader{
  z-index: 100;
  border-top: 5px solid var(--secondaryHighlight);
}
.THIS.storeMain, .THIS.storeFooter{
  z-index: 1;
}

.THIS .storeHeader__storeDetails{
    display: grid;
    grid-template-columns: 270px 1fr 270px;
    align-items: center;
    max-width: 1640px;
    margin: 0 auto;
    padding: 1em 2.5em 1.5em;
}
.THIS .storeHeader__mainNavigation{
    width: 100%;
}

.THIS .storeHeader__locationAndHours{
  width: 380px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.THIS .storeHeader__phoneNumbers{
  width: 100%;
}
.THIS .storeHeader__siteToggle{
  width: 250px;
}

.THIS .storeHeader__corporateLogo{
  display: block;
  width: 280px;
  height: 42px;
  flex-shrink: 0;
  background-image: url('/sfsites/c/resource/LegendLogo');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.THIS .storeFooter{
  margin-top: 2em;
}

.THIS .storeFooter__footerLegal{
	max-width: 1300px;
	margin: 0 auto;
	padding: 2.5em;
	font-family: 'gotham_htf', Montserrat, Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 0.825em;
	line-height: 1.35;
}

.THIS .storeFooter__legendCTA{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
}

.THIS .forceCommunitySection .cb-section_column{
  padding: 0!important;
}

.THIS .carouselSlide h1, .THIS .carouselSlide h2, .THIS .carouselSlide h3, .THIS .carouselSlide h4, .THIS .carouselSlide h5, .THIS .carouselSlide h6{
  font-size: 2em;
}
.THIS .forceCommunityCarousel .previousAction, .THIS .forceCommunityCarousel .nextAction{
  position: absolute;
  z-index: 2;
}
.THIS .forceCommunityCarousel .previousAction svg path, .THIS .forceCommunityCarousel .nextAction svg path{
  fill: #FFF;
}

.THIS .forceCommunityCardLayout .mediaContainer{
  position: relative;
}
.THIS .forceCommunityCardLayout .mediaContainer .contentImage {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
  z-index: 2;
}
.THIS .forceCommunityCardLayout .mediaContainer::after{
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0; right: -5px;
  width: 100%; height: 100%;
  background-color: #FFF;
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0 100%);
}

.THIS .PHONE.comm-panels-container.uiContainerManager.siteforcePanelsContainer{
  display: none!important;
}

@media screen and (max-width: 1245px){
  .THIS .storeHeader__corporateLogo{
    flex-shrink: initial;
    background-size: contain;
  }
}

@media screen and (max-width: 1080px){
  .THIS .storeHeader__corporateLogo{
    display: none;
  }
}

@media screen and (max-width: 940px){
  .THIS .storeHeader__storeDetails{
    flex-wrap: wrap;
    padding: 1em 1.5em 1.5em;
  }
  .THIS .storeHeader__locationAndHours{
    justify-content: center;
    margin-bottom: 1em;
  }
  .THIS .storeHeader__locationAndHours, .THIS .storeHeader__phoneNumbers{
    width: 100%;
  }
  .THIS .storeHeader__phoneNumbers a{
    padding-left: 0;
  }
}

@media screen and (max-width: 760px){
  .THIS .storeHeader__mainNavigation{
      width: auto;
			background-color: var(--highlight);
			padding: 0.65em 0.5em 0.4em;
  }
}

@media screen and (max-width: 580px){
  .THIS .storePhoneNumbers__item{
		padding: 0 0.75em!important;
	}
  .THIS .storeHeader__phoneNumbers{
    font-size: 0.55em;
  }
}