/**
 * Created by Tim on 2021-03-25.
 */

.modelListing{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #D1D1D1;
	border-radius: 4px;
  margin-bottom: 1.25em;
  padding: 2.75em 2em;
  box-sizing: border-box;
}

.modelListing .modelListing__intro{
  width: 32%;
}

.modelListing .modelListing__intro .modelListing__name{
  text-align: center;
  line-height: 1;
}
.modelListing .modelListing__intro .modelListing__name.heading.heading--special{
	font-family: 'gotham_htf'!important;
	font-weight: 900;
}

.modelListing .modelListing__intro .modelListing__photo{
  display: block;
  width: 100%; height: 0; padding-bottom: 50%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.modelListing .modelListing__outlineWrapper{
  overflow: hidden;
  width: 66%;
}

@media screen and (max-width: 1020px){
  .modelListing{
    flex-direction: column;
    align-items: center;
    padding: 1.5em 1em;
  }
  .modelListing .modelListing__intro{
    width: 60%;
  }
  .modelListing .modelListing__outlineWrapper{
    width: 100%;
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 660px){
  .modelListing .modelListing__intro{
      width: 90%;
    }
}