/**
 * Created by Tim on 2021-03-25.
 */

.modelListing{
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid var(--zebraAccent);
  margin-bottom: 1.25em;
}

.modelListing .modelListing__photo{
  display: block;
  width: 42%; height: 0; padding-bottom: 22%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.modelListing .modelListing__vitals{
  width: 30%;
  margin: 2%;
  padding-right: 2%;
  padding-left: 2%;
  border-left: 1px solid var(--zebraAccent);
  border-right: 1px solid var(--zebraAccent);
}

.modelListing .modelListing__vitals .modelListing__quickSpecs{
  margin-top: 1.5em;
}
.modelListing .modelListing__vitals .modelListing__quickSpecs .heading{
  text-transform: uppercase;
  font-size: 0.83em;
}
.modelListing .modelListing__vitals .modelListing__quickSpecs ul{
  width: 100%;
}
.modelListing .modelListing__vitals .modelListing__quickSpecs ul li{
  display: flex;
  justify-content: space-between;
}
.modelListing .modelListing__vitals .modelListing__quickSpecs li span strong{
  font-weight: 600;
}

.modelListing .modelListing__ctas{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-right: 2%;
}
.modelListing .modelListing__ctas .ctas__currentStock{
  text-align: right;
  width: fit-content;
  width: -moz-fit-content;
  align-self: flex-end;
  border: 1px solid var(--zebraAccent);
  border-radius: 3px;
  font-size: 1em;
  background: var(--zebra);
  padding: 0.25em 0.5em;
  margin-bottom: 0.5em;
}
.modelListing .modelListing__ctas .ctas__currentStock strong{
  font-weight: 900;
}

.modelListing .modelListing__ctas button{
  width: 100%;
  margin-bottom: 1em;
  justify-content: center;
}
.modelListing .modelListing__ctas button:last-of-type{
  margin-bottom: 0;
}

.modelListing__currentStock{
  width: 100%;
}
.modelListing__currentStock .currentStock__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5%;
  border-bottom: 1px solid var(--zebraAccent);
  width: 95%;
  margin: 0 auto;
}
.modelListing__currentStock .currentStock__item:last-of-type{
  border-bottom: 0;
}
.modelListing__currentStock .currentStock__item .heading{
  line-height: 1;
  width: 320px;
  flex-shrink: 0;
}
.modelListing__currentStock .currentStock__item .heading span{
  display: block;
  line-height: 1;
  font-weight: inherit;
} 
.modelListing__currentStock .currentStock__item .heading small{
  font-weight: 300;
  font-size: 0.7em;
}

@media screen and (max-width: 860px){
  .modelListing{
    flex-wrap: wrap;
  }
  .modelListing .modelListing__vitals{
    flex: 1;
    width: auto;
    border-right: 0 none;
  }
  .modelListing .modelListing__ctas{
    width: 100%;
    flex-direction: row;
   	justify-self: center;
   	justify-content: space-between;
   	margin-right: 0;
   	padding: 0 1.5em;
  }
  .modelListing .modelListing__ctas button{
    width: 32%;
  }
  .modelListing .modelListing__ctas button:last-of-type{
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 540px){
	.modelListing .modelListing__photo{
		width: 90%; padding-bottom: 42%;
		margin: 1em auto 0;
	}
  .modelListing .modelListing__vitals{
    width: 100%;
    border-left: 0;
    flex: inherit;
  }
}

@media screen and (max-width: 460px){
  .modelListing .modelListing__ctas{
    flex-direction: column;
  }
  .modelListing .modelListing__ctas button{
    width: 100%;
  }
}