/**
 * Created by dave on 2020-02-11.
 */
.slds-table {
  border-bottom: none;
}

.slds-table tr th:first-child {
  padding-left: 0.75rem;
}

.slds-table tfoot tr td {
  border-top: 2px solid var(--lwc-colorBorder, green);
  border-bottom:none;
  font-weight: bold;
  font-size:0.9rem;
}