.THIS.details {
  background: white;
  margin: 0.5rem;
  overflow: hidden;
}

.THIS button.slds-accordion__summary-action {
  font-size: 0.85rem;
}

.THIS textarea {
  min-height:100px;
}

.THIS textarea[disabled=true] {
  background:white;
}

.THIS button.slds-accordion__summary-action > span + span {
  white-space: inherit;
}