.THIS.slds-grid {
  margin: 1rem 1rem 3rem 1rem;
  background: #FFF;
}

.THIS.slds-notify-container {
  position: absolute;
  max-width:80rem;
}

.THIS .slds-form-element {
  margin-top: 1.5rem;
}

.THIS .slds-form-element:first-child {
  margin-top: 0;
}


.THIS .option-row:last-child {
  border-bottom: 1px solid #F4F4F4;
}

.THIS .slds-tabs--scoped .slds-tabs--scoped__nav {
  background-color:#F4F6F9;
  border-color: #D8DDE6;
}

.THIS .slds-tabs--scoped .slds-tabs--scoped__nav .slds-tabs--scoped__item .slds-tabs--scoped__item {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.THIS .slds-tabs--scoped .slds-tabs--scoped__nav .slds-tabs--scoped__item.slds-active .slds-tabs--scoped__link {
  background-color: #fff;
  color: #0070d2;
  border-color: #d8dde6;
}

.THIS .slds-tabs--scoped .slds-tabs--scoped__nav .slds-tabs--scoped__item .slds-tabs--scoped__link:hover {
    text-decoration: none;
    color: #005fb2;
    border-color: #d8dde6;
}

.THIS .slds-tabs--scoped .slds-tabs--scoped__nav .slds-tabs--scoped__item.slds-tabs--scoped__item:first-child .slds-tabs--scoped__link {
  border-left: 0;
  border-radius: .25rem 0 0 0;
}

.THIS .slds-tabs--scoped .slds-tabs--scoped__content {
  border-color: #d8dde6;
}

.THIS .notes textarea{
  min-height: 175px;
  border-color: #d8dde6;
}

.THIS.slds-modal__footer {
  /*margin: -1rem;*/
  background:  rgb(244, 246, 249);
  box-shadow: none;
}

@media only screen and (max-width:480px) {
  .THIS .slds-tabs--scoped {
    margin-top: 1rem;
  }
}