.THIS .title {
	padding:0rem 1rem 1.5rem 1rem;
	font-size:1rem;
}

.THIS .slds-input,
.THIS .slds-textarea,
.THIS .slds-select {
  border-color: #d8dde6;
}

.THIS .slds-form-element__help {
  margin-top:0;
}