.THIS table td,
.THIS table th {
  text-align: center;
}

.THIS .slds-pill {
  height: calc(1.875rem + (1px * 2));
}

.THIS .slds-pill .slds-pill__label {
  color: white;
  border:0;
}

.THIS .pill-green {
  background: token(colorBackgroundToastSuccess);
}

.THIS .pill-red {
  background: token(colorBackgroundToastError);
}

.THIS .pill-yellow {
  background: #ffb75d;
}

.THIS .pill-blue {
  background: token(colorBackgroundButtonBrandHover);
}