<?xml version="1.0" encoding="UTF-8"?>
<EmailTemplate xmlns="http://soap.sforce.com/2006/04/metadata">
    <available>true</available>
    <encodingKey>ISO-8859-1</encodingKey>
    <letterhead>Legend_Letterhead</letterhead>
    <name>Spring Fishing and Boat Show</name>
    <style>formalLetter</style>
    <subject>Spring Fishing And Boat Show</subject>
    <textOnly>Hello{!Contact.FirstName}
I hope that you are as excited about Spring as we are! We have had a Great Show season so far and we are hoping to keep the momentum going with the Spring Fishing and Boat Show!

I want to thank those who came out to the Toronto International Boat Show, we appreciate your business. For those of you who were not able to attend the Toronto International Boat Show, now is your chance to view our 2017 line up!!

Please feel free to give me a call, text or email to book your time to see Legend Boats at the Spring Fishing and Boat Show, happening February 17 to 20 at The International Centre.

Pick up times are still available for the Spring, but they&#39;re going fast!

Thanks again for your time and I&#39;ll talk to you soon

Yours in Boating,

{!User.Name}
{!User.Title}
{!User.Phone}
{!User.Email}
Legendboats.com</textOnly>
    <type>html</type>
    <uiType>Aloha</uiType>
</EmailTemplate>
