/**
 * Created by Tim on 2021-04-05.
 */
.modelWrapper{
  background-position: center -12em;
  background-size: 100% contain;
  background-repeat: no-repeat;
}
.model{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 5em;
}
.model.model--loading{
  justify-content: center;
}

.model .model__intro{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.model .model__intro .intro__vitals--wrapperOuter{
  position: relative;
  max-width: 540px;
}
.model .model__intro .intro__vitals--wrapperOuter::before{
  content: ''; display: block;
	position: absolute;
	background-color: var(--secondaryHighlight);
	width: 100%; height: 95%;
	top: 0; left: 7px;
	clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 99%, 0 85%);
}


.model .model__intro .intro__vitals{
  position: relative;
  background-color: var(--highlight);
  color: #FFF;
  height: 100%;
  padding: 10% 10% 15%;
  margin: 0.5em 0;
  clip-path: polygon(0 0, 85% 0, 100% 15%, 100% 100%, 15% 99%, 0 85%);
}

.model .model__intro .intro__vitals .intro__stock{
  border: 1px solid rgba(255, 255, 255, 0.7);;
  padding: 0.25em;
}
.model .model__intro .intro__vitals .intro__stock strong{
	font-weight: 900;
}

.model .model__intro .intro__vitals .intro__boatName{
	line-height: 1;
}

.model .model__intro .intro__vitals .vitals__priceBlock{
  width: 45%;
	min-width: 575px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	line-height: 1.25;
	position: relative;
}
.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__weekly{
  font-weight: 900;
	font-size: 3.75em;
	text-align: center;
}
.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__weekly span{
  display: block;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 30%;
}

.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__retail{
  width: 75%;
	display: flex;
	flex-wrap: wrap;
	font-weight: 900;
	font-size: 2.5em;
}
.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__retail sup{
	font-size: .5em;
	top: .9em;
}
.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__retail::before{
  content: "";
	display: block;
	width: 1px;
	background-color: rgba(255, 255, 255, .5);
	margin: 0 1em;
}

.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__pricingDetails{
  font-size: 0.75em;
}
.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__pricingDetails a{
  color: #FFF;
}

.model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__includes {
  width: 100%;
	font-style: normal;
	font-size: 1.25em;
	margin-top: .75em;
}


.model .model__intro .intro__photo{
  display: block;
  width: 60%; height: 0; padding-bottom: 25%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.model .intro__gallery{
  width: 100%;
}

.model .model__currentStock.model__currentStock--available{
 	width: 100%;
 	margin-top: 5vw;
}
.model .model__currentStock.model__currentStock--available .heading{
  width: 100%;
	text-align: center;
	margin-bottom: 0.5em;
}

.model .model__block{

}
.model .model__block .heading{
  width: 100%;
  text-align: center;
}
.model .model__block ul, .model .model__block ul{
  padding: 1.25em;
}
.model .model__block ul li, .model .model__block ul li{
  padding: 0.75em 1.25em;
}

.model .model__specs, .model .model__motors{
  width: 100%;
  margin-top: 2em;
  align-self: flex-start;
}
.model .model__specs ul, .model .model__motors ul{
  display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	font-size: 1.25em;
	margin: 1em 0 1em;
	padding: 0;
}
.model .model__specs ul li, .model .model__motors ul li{
	width: 48%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	padding: .5em .5em .5em 0;
	border-bottom: 1px solid rgba(51,51,51,.3);
}
.model .model__motors ul li span strong{
  display: block;
  text-align: right;
}

.model .model__premiumPack{
  width: 100%;
  margin-top: 2em;
}
.model .model__premiumPack header{
  display: flex;
	flex-direction: column;
	align-items: center;
}
.model .model__premiumPack ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.model .model__premiumPack ul .premiumPackage__item{
  padding: 0.5em 0.25em;
  border-bottom: 1px solid #ddd;
  display: flex;
  width: calc(50% - 40px);
  align-items: center;
}
.model .model__premiumPack ul .premiumPackage__item .premiumPackage__itemDetail{
	width: 100%;
	padding-right: 2em;
	line-height: 1.125;
}
.model .model__premiumPack ul .premiumPackage__item .premiumPackage__itemDetail .itemDetail__name{
  display: block;
  font-weight: 900;
  margin-bottom: 0.5em;
}
/*.model .model__premiumPack ul .premiumPackage__item:nth-of-type(even){*/
/*  background-color: #efefef;*/
/*}*/
.model .model__premiumPack ul .premiumPackage__item:last-of-type{
/*  border-bottom: 3px solid #333;*/
}
.model .model__premiumPack ul .premiumPackage__item .premiumPackage__itemDetail .itemDetail__value{
  display: block;
  position: relative;
}

.model .model__premiumPack ul .premiumPackage__item .premiumPackage__itemPrice{
  width: 135px;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.model .model__premiumPack ul .premiumPackage__item .premiumPackage__itemPrice span{
}
.model .model__premiumPack ul .premiumPackage__item .premiumPackage__itemPrice strong{
  font-size: 1.25em;
  font-weight: 900;
  margin-left: 0.25em;
}

.model .model__leadFormWrapper{
  margin-top: 2.5em;
  background-color: var(--zebra);
  padding-top: 2.5em;
}
.model .model__leadForm{
	/*  color: #FFF;*/
}
.model .model__leadForm header{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model .model__leadForm header .copy{
}
.model .model__leadForm .form{
  padding: 0 2.5rem;
}
.model .model__leadForm .formPlaceholder{
  padding-bottom: 25%;
  background-color: var(--zebra);
}

.model .model__fullDetailsCta{
  display: flex;
	margin-top: 1.5em;
  align-items: center;
  justify-content: center;
/*  margin-top: 2.5em;*/
/*  margin-bottom: 2.5em;*/
  padding: 5vw 0;
  background-color: #333;
/*  background-image: url('https://mk0inventorylegv1t7j.kinstacdn.com/wp-content/uploads/2020/07/footer-bg.jpg');*/
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #FFF;
}
.model .model__fullDetailsCta strong{
  font-weight: 900;
}

@media screen and (max-width: 860px){
  .model .model__intro{
		flex-direction: column-reverse;
  }
  .model .model__intro .intro__vitals .intro__boatName{
    text-align: center;
  }
  .model .model__intro .intro__photo{
    margin-top: 2em;
    width: 80%;
    padding-bottom: 40%;
  }
  .model .model__intro .intro__vitals .vitals__priceBlock{
    width: 100%; min-width: 100%;
    justify-content: center;
  }
  .model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__retail{
    width: fit-content;
    width: -moz-fit-content;
  }
  .model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__includes,
  .model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__pricingDetails{
    text-align: center;
  }

}

@media screen and (max-width: 760px){
  .model .model__specs ul li,
  .model .model__motors ul li{
    width: 100%;
  }
  .model .model__premiumPack ul .premiumPackage__item{
    width: 100%;
  }
}

@media screen and (max-width: 540px){
  .model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__weekly{
   font-size: 2.25em;
  }
  .model .model__intro .intro__vitals .vitals__priceBlock .priceBlock__retail{
    font-size: 1.75em;
  }
  .model .model__fullDetailsCta{
    text-align: center;
  }
}
