.THIS {
  position: relative;
  margin: 1rem;
}

.THIS .hidden {
  display: none;
}

.THIS .slds-page-header {
  margin: -1rem -1rem 0 -1rem;
}

.THIS.quickAction .slds-page-header {
  margin: -2rem -3rem 1rem -3rem;
}

.THIS.utilityBar .slds-page-header,
.THIS.modal .slds-page-header {
  display:none;
}

.THIS .button-container {
  background:#F1F0F0;
}

.THIS.quickAction .button-container {
  margin: 2rem -3rem 0 -3rem;
  width: calc(6rem + 100%);
  position: absolute;
}

.THIS.utilityBar .button-container {
  background: #FFF;
  border-top: none;
  padding-right: 0;
  padding-left: 0;
}

.THIS.modal .button-container {
  margin: 1.5rem -2rem -1rem -2rem;
}

.THIS #toast {
  position: absolute !important;
  top: 50px !important;
}

.THIS #toast .slds-notify.slds-notify--toast {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

.THIS .slds-progress {
  max-width: 80%;
}

.THIS .slds-progress-bar__value {
  -webkit-transition: .75s;
  transition: .75s;
}

.THIS .cLgnd_Spinner_dh.lgnd-spinner {
  position:absolute;
}

.THIS #step-one,
.THIS #step-two,
.THIS #step-three {
  display: none;
}

.THIS #step-one.step-1,
.THIS #step-two.step-2,
.THIS #step-three.step-3 {
  display: initial;
}

.THIS .slds-button.btm-right-button {
  position:absolute;
  bottom:10px;
  right: 1rem;
}

.THIS .slds-button.btm-left-button {
  position:absolute;
  bottom:10px;
  left: 1rem;
}
.THIS .slds-has-error .slds-form-element__help {
  margin-top:0;
}

.THIS .slds-has-error:not(.show-message) .slds-form-element__help {
  display:none;
}

.THIS .slds-checkbox--toggle .slds-form-element__label {
  width: 50%;
}

.THIS .slds-checkbox--on,
.THIS .slds-checkbox--off {
  display:none !important;
}