.THIS h2 a {
	font-size: 12px;
}

.THIS .reveal {
	display: block;
}

.THIS .conceal {
	display: none;
}

.THIS .problem .editForm .slds-form-element__label {
	display: none;
}

.THIS th {
	font-weight: 600;
}

.THIS .hide-label label {
	display: none;
}

.THIS .x { display: none; }

.THIS .slds-button_icon-x-small, 
.THIS .slds-button--icon-x-small {
	width: 36px;
	height: 36px;
}

.THIS .orderQuantityBox {
	border: 1px solid green !important;
}

.THIS td.orderQuantity, 
.THIS th.orderQuantity {
	color:green !important;
}

@media (max-width: 640px) {

	/* PRODUCT CARD */

	.THIS #product-card table {
		border-top: 3px solid #ddd;
	}

	.THIS #product-card table tr {
		border-bottom: 1px solid #ddd;
	}

	.THIS #product-card table th,
	.THIS #product-card table td {
		display: block;
	}

	/* PARTS */

	.THIS table.parts {
		border-top: 3px solid #ddd;
	}

	.THIS table.parts tr {
		border-bottom: 1px solid #ddd;
	}

	.THIS table.parts tr.th {
		display: none;
	} 

	.THIS table.parts td {
		display: block;
	}

	.THIS table.parts td:last-child {
		padding-bottom: 1em;
	}

	.THIS .x { display: inline; }

	/* CONFIRMATION PAGE */

	.THIS table.confirmation {
		border-top: 3px solid #ddd;
	}

	.THIS table.confirmation tr {
		border-bottom: 1px solid #ddd;
	}

	.THIS table.confirmation th,
	.THIS table.confirmation td {
		display: block;
	}

	.THIS table.confirmation td:last-child {
		padding-bottom: 1em;
	}

}