.THIS {
  position: relative;
}

.THIS.slds-card {
  min-height:300px;
  height:100%;
  margin-top:0.25rem;
  padding-bottom:2rem;
}

.THIS.lgnd-spinner {
  position:absolute !important;
}

.THIS .slds-map_container {
  max-height: 100%;
}

.THIS .slds-coordinates {
  max-width: 350px;
  max-height: 100%;
  overflow-y: auto;
  padding-bottom: 1rem;
}

.THIS .slds-grid.slds-has-coordinates {
  height:100%;
  max-height:initial;
  flex-wrap:initial;
  max-height: initial;
}