/**
 * Created by Tim on 2021-07-09.
 */
.modelListing__currentStock{
  width: 100%;
}
.modelListing__currentStock .currentStock__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5% 5%;
  border-bottom: 1px solid var(--zebraAccent);
  width: 100%;
  margin: 0 auto;
}
.modelListing__currentStock .currentStock__item:nth-of-type(odd){
  background-color: var(--zebra);
}
.modelListing__currentStock .currentStock__item:last-of-type{
  border-bottom: 0;
}
.modelListing__currentStock .currentStock__item .heading{
  line-height: 0.7;
  width: 320px;
  flex-shrink: 0;
}
.modelListing__currentStock .currentStock__item .heading span{
  display: block;
  line-height: 1;
  font-weight: inherit;
}
.modelListing__currentStock .currentStock__item .heading small{
  font-weight: 300;
  font-size: 50%;
}

.modelListing__currentStock .currentStock__item .item__pricing{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-left: 1px solid var(--zebraAccent);
  border-right: 1px solid var(--zebraAccent);
}
.modelListing__currentStock .currentStock__item .item__pricing::before, .modelListing__currentStock .currentStock__item .item__pricing::after{

}
.modelListing__currentStock .currentStock__item .item__pricing small{
  width: 100%;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 0.8em;
}
.modelListing__currentStock .currentStock__item .item__pricing span{
  display: block;
  font-weight: 900;
  line-height: 1;
}
.modelListing__currentStock .currentStock__item .item__pricing span.pricing__weekly{
  font-size: 2.25em;
}
.modelListing__currentStock .currentStock__item .item__pricing span.pricing__retail{
  font-size: 1.25em;
}
.modelListing__currentStock .currentStock__item .item__pricing span strong{
  display: block;
  font-size: 40%; font-weight: 300;
  text-transform: uppercase;
}
.modelListing__currentStock .currentStock__item .item__pricing span:nth-of-type(2)::before{
  content: '';
  display: inline-block;
  background-color: var(--zebraAccent);
  width: 1px; height: 25px;
  margin: 0 50px;
}