/**
 * Created by Tim on 2021-07-09.
 */
.modelListing__currentStock{
  width: 100%;
}
.modelListing__currentStock .currentStock__item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5%;
  border-bottom: 1px solid var(--zebraAccent);
  width: 95%;
  margin: 0 auto;
}
.modelListing__currentStock .currentStock__item:last-of-type{
  border-bottom: 0;
}
.modelListing__currentStock .currentStock__item .heading{
  line-height: 1;
  width: 320px;
  flex-shrink: 0;
}
.modelListing__currentStock .currentStock__item .heading span{
  display: block;
  line-height: 1;
  font-weight: inherit;
}
.modelListing__currentStock .currentStock__item .heading small{
  font-weight: 300;
  font-size: 0.7em;
}