.THIS .select-auto-width{
    display: inline-block;
}
.THIS .select-auto-width > .slds-select{
	margin-top: 5px !important;
    border: none !important;
    background: none !important;
}
.THIS .period-selector .slds-form-element__label{
    display: none !important;
}
.THIS .account-type-selector .slds-form-element__label{
    display: none !important;
}