$event-text-color: #FFF;
$inactive-color: #b0adab;
$activeErpPickupEvent-bg: #F6A8F7;
$activeErpPickupEvent-bg-dark: darken( $activeErpPickupEvent-bg, 50%);

$calendars: (
  service: #008fd4,
  trade: #a9001c,
  retail: #0db504,
  internal: #9300a1
);

label.event-type {
  color: #FFF;
  margin-left: 0.5rem;
  line-height: 1.5rem;
  width: 100%;
  display: block;
  padding-left: 0.5rem;
  border-radius: 4px;
  background-color: $inactive-color;
  border-color: $inactive-color;
  @each $name, $color in $calendars {
    &.#{$name}.active {
      background-color: $color;
      border-color: lighten( $color, 50%);
    }
  }
}

lightning-input.slds-form-element {
  input[type=checkbox]:focus + .slds-checkbox_faux_container .slds-checkbox_faux {
    box-shadow: none;
    border-color: transparent;
    background-color: $inactive-color;
  }
  input[type=checkbox]:hover + .slds-checkbox_faux_container .slds-checkbox_faux,
  input[type=checkbox]:active + .slds-checkbox_faux_container .slds-checkbox_faux {
    background-color: $inactive-color;
  }
  @each $name, $color in $calendars {
    &.#{$name} .slds-checkbox_toggle input[type=checkbox]:checked + .slds-checkbox_faux_container .slds-checkbox_faux {
      background-color: $color;
      border-color: $color;
    }
  }
}

.fc.fc-unthemed {
  .fc-time-grid .fc-slats td { height: 2.5em }
  .fc-view:not(.fc-month-view ) {
    .fc-event {
      -webkit-transition:left 0.25s ease-in-out, opacity 0.25s ease-in-out, right 0.25s ease-in-out;
      -moz-transition:left 0.25s ease-in-out, opacity 0.25s ease-in-out, right 0.25s ease-in-out;
      -o-transition:left 0.25s ease-in-out, opacity 0.25s ease-in-out, right 0.25s ease-in-out;
      transition:left 0.25s ease-in-out, opacity 0.25s ease-in-out, right 0.25s ease-in-out;
    }
  }

  .fc-event {
    color: $event-text-color;
    padding: 0.1rem 0.25rem;
    /* ++++++++++++++++ location specific event class ++++++++++++++++ */
    @each $name, $color in $calendars {
      &.#{$name} {
        background: $color;
        border-color: lighten( $color, 50%);
        span.fc-time {
          background: $color;
          color: #FFF;
        }
      }
    }
    /* =============== /location specific event class ================ */

    &.activeErp {
      background: $activeErpPickupEvent-bg;
      border-color: $activeErpPickupEvent-bg-dark;
      span.fc-time {
        background: $activeErpPickupEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $activeErpPickupEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

    .fc-content {
      &:before {
        background: #fff;
        border-radius: 5rem;
        position: absolute;
        width: 17px;
        height: 16px;
        content: "\274c";
        top: 3px;
        left: 0px;
        font-size: 7px;
        text-align: center;
        vertical-align: middle;
        line-height: 16px;
      }
      .fc-time {
        margin-left: 25px;
      }
    }

    &.rigger-job-scheduled {
      .fc-content {
        &:before {
          content: '';
        }
        &:after {
          content: "";
          position: absolute;
          transform: rotate(40deg);
          height: 8px;
          width: 4px;
          border-bottom: 2px solid #08ff32;
          border-right: 2px solid #08ff32;
          top: 4px;
          left: 5px;
        }
      }
    }

    span {
      line-height: 25px;
    }

    span.fc-time {
      padding: 2px 5px;
      background: #FFF;
      border-radius: 17px;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

  }// /.fc-event

  .fc-toolbar {
    line-height:60px;
    height: 60px;
    margin:0;
  }
  .fc-today {
    background: #FAFAFB;
  }

  .fc-view.fc-agenda-view .fc-head ,
  .fc-view.fc-month-view .fc-head{
    line-height: 40px;

    .fc-head-container .fc-widget-header {
      border-color: transparent;
    }
  }

  .fc-body .fc-widget-content .fc-day-grid .fc-row.fc-week {
    border-right-width: 0px !important;
  }

  .fc-month-view .fc-widget-content .fc-day-grid-container .fc-day-grid .fc-week .fc-title {
    white-space: normal;
  }

}// /.fc