@page {
    size:legal;
    margin-top: 0.5cm;
    margin-left: 0.25cm;
    margin-right: 0.25cm;
    margin-bottom: 0.25cm;

    /*size: 8.5in 11in; width height */


}

@page :first {
    margin-bottom: 2cm;
    @bottom-left {
        content: element(footer-left);
    }
    @bottom-center {
      content: element(footer-center);
    }
    @bottom-right {
        content: element(footer-right);
    }
}

body {
    font-family:sans-serif !important;
    background: #FFF;
}

p {
    margin:0;
    padding:0;
}

.footer-left {
    border-top: 3px solid #00aee9;
    position: running(footer-left);
}

.footer-center {
    border-top: 3px solid #00aee9;
    position: running(footer-center);
}

.thankyou {
    width:100%;
    text-align:center;
    font-size:12px;
    color:#777;
    line-height: 30px;
    height: 30px;
    margin-top:5px;
}

.footer-left .logo {
   line-height: 50px;
}

.footer-left .logo img {
    padding-top: 8px;
    margin-bottom: -8px;
}

.footer-center .address {
    font-size:10px;
    line-height: 50px;
    color:#000;
}

.footer-right {
    border-top: 3px solid #00aee9;
    position: running(footer-right);
}

.footer-right .tax_numbers {
    color:#000;
    font-size: 9px;
    text-align:center;
    line-height: 50px;
    margin-top:8px;
}

.footer-right .tax_numbers div {
    line-height:14px;
}

.footer-right .tax_numbers p span {
    padding-right:7px;
}


.invoicePageOne, .invoicePageTwo {
  page-break-after:always;
  position:relative;
}

