@page {
    size:legal;
    margin-top: 0.5cm;
    margin-left: 0.25cm;
    margin-right: 0.25cm;
    margin-bottom: 0.25cm;

    /*size: 8.5in 11in; width height */
}



body {
    font-family:sans-serif !important;
    background: #FFF;
}

p {
    margin:0;
    padding:0;
}


.invoicePageOne, .invoicePageTwo {
  page-break-after:always;
  position:relative;
}