/* colours */

:root {

	--primary: #333;
  --accent: #FFF;
  --strike: #f7292b;
  
  --highlight: #0d506d;
  --secondaryHighlight: #3bafd6;
  --tertiaryHighlight: #02b0ed;
  
  --zebra: #f5f5f5;
  --zebraAccent: #cecece;
  --hr: #e8e8e8;

  /*
  --zebra: #f7f7f7;
  --zebra-split: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(240,240,240,1) 50%);
  --zebra-split: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 15%, rgba(238,238,238,1) 15%, rgba(238,238,238,1) 100%);
  */
  --zebra-split: linear-gradient(180deg, white 0%, white 15%, #eeeeee 15%, #eeeeee 95%, #FFF 90%);
  
  /* X-SERIES */
  --highlight-x: #19417e;
  --secondaryHighlight-x: #b58253;
  
  /* XTR-SERIES */
  --highlight-xtr: #de1d0b;
  --secondaryHighlight-xtr: #313131;
  --tertiaryHighlight-xtr: #b20300;
  
  /* F-SERIES */
  --highlight-f: #0c253b;
  --secondaryHighlight-f: #57759b;
  --tertiaryHighlight-f: #0d253a;
  
  /* XTE-SERIES */
  --highlight-xte: #a1cd3a;
  --secondaryHighlight-xte: #989898;
  --tertiaryHighlight-xte: #4d7826;
  
  /* R-SERIES */
  --highlight-r: #3d4036;
  --secondaryHighlight-r: #efefef;
  
  /* Splash-SERIES */
  --highlight-splash: #a68b6e;
  /*
  // --secondaryHighlight-f: #57759b;
  // --tertiaryHighlight-f: #0d253a;
  */
  
  /* Q-LE Series */
  --highlight-q-le: #a68b6d;
  
  /* Q-Series */
  --highlight-q: #948a89;
  
  /* e-Series */
  --highlight-e: #a98464;
  
  /* V-Series */
  --luxury: #DFBC82;
  
  /* D19-D20 */
  --highlight-d19: #00dd1a;
  --secondaryHighlight-d19: #33832f;
  --highlight-d21: #9d6959;
  /*
  // --secondaryHighlight-f: #57759b;
  // --tertiaryHighlight-f: #0d253a;
  */
}