.THIS .fin-intitution {
  text-align: center;
}

.THIS .fin-intitution label {
  line-height: 1.875rem;
  display:inline-block;
  font-weight:bold;
}

.THIS .fin-intitution .slds-form-element__control {
  display:inline-block;
}