
  <div class="wrapper feud-flipper">

    <div class="front">
      <div class="row item-attr">
        <div class="column small-9">
        {{ this.label }}
        </div>
        <div class="column small-3 value-col">
         <span class="right">{{ this.value }}</span>
        </div>
      </div>
    </div><!-- /front -->

    <div class="back">
      <div class="row item-attr">
        <div class="column small-6">
        {{ this.f_label }}
        </div>
        <div class="column small-6 value-col">
         <input type="text" class="right" value="{{ this.f_value }}" />
        </div>
      </div>
    </div><!-- /back -->

  </div><!-- /feud-flipper -->

