.THIS .countIconContainer {
  width: 46px;
  height: 46px;
  background: #e0e5ee;
  line-height: 46px;
  text-align:center;
  display:block;
  border-radius: 4px;
  position: relative;
}

.THIS a.countIconContainer:hover{
  background: #4bca81;
}

.THIS .countIconContainer img {
  width: 30px;
  height: 30px;
  position: absolute;
  margin:auto;
  top: calc( 50% - 15px);
  left: calc(50% - 15px);
}

.THIS .countTable tr {
  line-height:60px;
}

.THIS .countTable tr td:first-child {
  width:60px;
}