$whiteFishPickupEvent-bg: #E7FFF1;
$whiteFishPickupEvent-bg-dark: darken( $whiteFishPickupEvent-bg, 65%);
$whiteFishServiceEvent-bg: #B5FF9D;
$whiteFishServiceEvent-bg-dark: darken( $whiteFishServiceEvent-bg, 50%);

$barriePickupEvent-bg: #D4F1FF;
$barriePickupEvent-bg-dark: darken( $barriePickupEvent-bg, 50%);
$barrieServiceEvent-bg: #DDFFFF;
$barrieServiceEvent-bg-dark: darken( $barrieServiceEvent-bg, 50%);

$montrealPickupEvent-bg: #fffab4;
$montrealPickupEvent-bg-dark: darken( $montrealPickupEvent-bg, 40%);
$montrealServiceEvent-bg: #ffce45;
$montrealServiceEvent-bg-dark: darken( $montrealServiceEvent-bg, 30%);

$activeOppPickupEvent-bg: #F6A8F7;
$activeOppPickupEvent-bg-dark: darken( $activeOppPickupEvent-bg, 50%);

$event-text-color: #3C3C3C;
$event-border-color: #C7C7C7;

.slds-text-heading--label.custom {
  margin-bottom: 10px;
}

.slds-button-group.prev-next {
  margin-left: 15px;
   button {
    width: 50px;
   }
}


#calTitle {
  line-height:36px;
  padding: 0;
  margin:0;
  padding-left: 15px;
  font-size: 1.1rem;
}

.slds-button.slds-button--icon-border-filled.viewSelector {
  width: 50px;
  margin-right: 15px;
  svg {
    margin: 0;
  }
}

.slds-is-selected {
  background: $barriePickupEvent-bg;
}

#notifications {
  position: absolute;
  width: 100%;
  top: -100px;
  -webkit-transition:top 0.5s ease-in-out;
  -moz-transition:top 0.5s ease-in-out;
  -o-transition:top 0.5s ease-in-out;
  transition:top 0.5s ease-in-out;
  &.open {
    top: 0;
    z-index: 9002;
  }
}

#indicator {
  .slds-spinner--large {
    height: 100px;
    width: 100px;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
  }
}

.slds {

  .slds-grid.form-row {
    margin-top: 1.5rem;
  }

  .slds-modal__header {
    padding: 14px;
    h2 {
      input {
        border: none;
        text-align: center;
        width: 100%;
        padding: 10px;
      }
    }
  }

  .slds-modal__content {
    overflow: initial;

    .slds-card {
      margin: 20px -16px -17px -16px;
      padding: 5px;
      border-radius: 0;
      border-bottom-color: transparent;

      .slds-card__body {
        padding: 25px 15px;
        .field-detail {
          margin-bottom: 10px;
          p {
            font-weight: lighter;
          }
        }
      }
    }
  }

  .slds-form--compound .slds-form-element__row .slds-form-element {
    display: inline-block;
  }

  #schedule-form {
    .slds-form--horizontal .slds-form-element {
      text-align: center;
      .slds-checkbox {
        padding-top: 7px;
      }
    }
  }
}




.fc {

  .fc-event {
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    color: $event-text-color;
    border-color: $event-border-color;

    span {
      line-height: 25px;
    }

    span.fc-time {
      padding: 2px 5px;
      background: #FFF;
      border-radius: 17px;
    }

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }

    &.barrie-pickup {
      background: $barriePickupEvent-bg;
      border-color: $barriePickupEvent-bg-dark;
      span.fc-time {
        background: $barriePickupEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $barriePickupEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

    &.barrie-service {
      background: $barrieServiceEvent-bg;
      border-color: $barrieServiceEvent-bg-dark;
      span.fc-time {
        background: $barrieServiceEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $barrieServiceEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

     &.montreal-pickup {
      background: $montrealPickupEvent-bg;
      border-color: $montrealPickupEvent-bg-dark;
      span.fc-time {
        background: $montrealPickupEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $montrealPickupEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

    &.montreal-service {
      background: $montrealServiceEvent-bg;
      border-color: $montrealServiceEvent-bg-dark;
      span.fc-time {
        background: $montrealServiceEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $montrealServiceEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

    &.whitefish-pickup {
      background: $whiteFishPickupEvent-bg;
      span.fc-time {
        background: $whiteFishPickupEvent-bg-dark;
        color: #FFF;
      }
      border-color: $whiteFishPickupEvent-bg-dark;
      &:hover {
        background: $whiteFishPickupEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

    &.whitefish-service {
      background: $whiteFishServiceEvent-bg;
      border-color: $whiteFishServiceEvent-bg-dark;
      span.fc-time {
        background: $whiteFishServiceEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $whiteFishServiceEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

    &.activeOpp {
      background: $activeOppPickupEvent-bg;
      border-color: $activeOppPickupEvent-bg-dark;
      span.fc-time {
        background: $activeOppPickupEvent-bg-dark;
        color: #FFF;
      }
      &:hover {
        background: $activeOppPickupEvent-bg-dark;
        color: #FFF;
        span.fc-time {
          color: $event-text-color;
          background: #FFF;
        }
      }
    }

  }




  .fc-toolbar {
    line-height:60px;
    height: 60px;
    margin:0;
  }
  .fc-today {
    background: #FAFAFB;
  }

  .fc-view.fc-agenda-view .fc-head ,
  .fc-view.fc-month-view .fc-head{
    line-height: 40px;

    .fc-head-container .fc-widget-header {
      border-color: transparent;
    }
  }

  .fc-body .fc-widget-content .fc-day-grid .fc-row.fc-week {
    border-right-width: 0px !important;
  }

  .fc-month-view .fc-widget-content .fc-day-grid-container .fc-day-grid .fc-week .fc-title {
    white-space: normal;
  }

}



.cal-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;

  .column {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    &:first-child {
      width: 80%;

      & + .column {
        width: 20%;
        padding-top: 5px;

        & > h1 {
          font-size: 1rem;
          width: 90%;
          margin: 0 auto 1rem auto;
          line-height: 2rem;
          display: block;
          text-align: center;
          border-bottom: 1px solid #DCDCDC;
        }
      }
    }

  }
}

.toggles {
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 1.5rem;

  & > div {
    box-sizing: border-box;
    display:flex;
    margin-top: 15px;

    & > label {
      font-size: 0.8rem;
      width: 80%;
      padding-left: 1rem;
      box-sizing: border-box;

      & > .legend_switch {
        width: 50%;
        text-align: center;
        box-sizing: border-box;
      }

    }

  }

}

.scheduables {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 10px;
  position:relative;
  display: none;
}

.scheduable {
  padding: 0.5rem 0.75rem;
  margin: 0.5rem 1rem;
  display: flex;
  align-items: center;
  background: #F3F3F3;
  border-radius: 5px;
  cursor: move;
  position:relative;

  div {
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    svg {
    }
  }
  p {
    background: #FFF;
    margin-left: 0.75rem;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
  }
  &.processing {
    visibility: hidden;
  }
  &.barrie {
    background: $barriePickupEvent-bg;
  }
  &.montreal {
    background: $montrealPickupEvent-bg;
  }
  &.whitefish {
    background: $whiteFishPickupEvent-bg;
  }
}

#lg-toggle-barrie-pickup:checked + label {
  background: $barriePickupEvent-bg-dark;
  &:before {
    background: $barriePickupEvent-bg;
  }
  &:after {
    background: $barriePickupEvent-bg-dark;
  }
}

#lg-toggle-barrie-service:checked + label {
  background: $barrieServiceEvent-bg-dark;
  &:before {
    background: $barrieServiceEvent-bg;
  }
  &:after {
    background: $barrieServiceEvent-bg-dark;
  }
}

#lg-toggle-montreal-pickup:checked + label {
  background: $montrealPickupEvent-bg-dark;
  &:before {
    background: $montrealPickupEvent-bg;
  }
  &:after {
    background: $montrealPickupEvent-bg-dark;
  }
}

#lg-toggle-montreal-service:checked + label {
  background: $montrealServiceEvent-bg-dark;
  &:before {
    background: $montrealServiceEvent-bg;
  }
  &:after {
    background: $montrealServiceEvent-bg-dark;
  }
}

#lg-toggle-whitefish-pickup:checked + label {
  background: $whiteFishPickupEvent-bg-dark;
  &:before {
    background: $whiteFishPickupEvent-bg;
  }
  &:after {
    background: $whiteFishPickupEvent-bg-dark;
  }
}

#lg-toggle-whitefish-service:checked + label {
   background: $whiteFishServiceEvent-bg-dark;
  &:before {
    background: $whiteFishServiceEvent-bg;
  }
  &:after {
    background: $whiteFishServiceEvent-bg-dark;
  }
}

.fake-input {
  padding: 8px 15px;
  border: 1px solid #DDD;
  width: 80%;
  border-radius: 4px;
}

.slds-button[data-event-delete] {
  float: left;
}

select.has-error,
input.has-error,
textarea.has-error {
  border: 1px solid red !important;
}

