.THIS {
  display: relative;
}

.THIS .hidden {
  display: none;
}

.THIS #toast {
  position: absolute !important;
  top: 50px !important;
}

.THIS #toast .slds-notify.slds-notify--toast {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

/*.THIS .slds-notify_container .slds-notify.slds-notify--toast button {

}

.THIS .slds-notify_container .slds-notify.slds-notify--toast .slds-icon-text-default {
  fill: #F9F9F9;
}*/

.THIS {
  margin: 1rem;
}

.THIS.current-step-one .step-one {
  display:initial;
}

.THIS.current-step-one .step-two,
.THIS.current-step-one .step-three {
  display:none;
}

.THIS.current-step-two .step-two {
  display:initial;
}

.THIS.current-step-two .step-one,
.THIS.current-step-two .step-three {
  display:none;
}

.THIS.current-step-three .step-three {
  display:initial;
}

.THIS.current-step-three .step-one,
.THIS.current-step-three .step-two {
  display:none;
}

.THIS .slds-form-element {
  margin-bottom: 0.5rem;
}

.THIS .slds-form-element .slds-form-element__help {
  position:absolute;
  top:0;
  right:0;
}

.THIS .slds-textarea {
  height: 85px;
}

.THIS .fileList li {
  line-height: 1.75rem;
  border-top: 1px solid #d8dde6;
  color: #566b8f;
}

.THIS .fileList li:last-child {
  border-bottom: 1px solid #d8dde6;
  margin-bottom:10px;
}

.THIS .button-container {
  position:absolute;
  left:0;
  width:100%;
  padding: 1rem;
  bottom:0;
}

.THIS .button-container .next {
  float:right;
}