/**
 * Created by Tim on 2021-05-03.
 */

.storeLogo{
    /*background-image: t('url(' + brandLogoImage + ')');*/
		background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -99999px;
    width: 90px;
		height: 74.5px;
		flex-shrink: 0;
		transition: none;
}

.storeLogo:hover, .storeLogo:focus{
  text-decoration: none;
}