.THIS .storeDetails{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1640px;
    margin: 0 auto;
    padding: 2.5em 2.5em 1em;
}
.THIS .mainNavigation{
    width: 100%;
}
.THIS .storeLogoIcon{
    background-image: t('url(' + brandLogoImage + ')');
		background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -99999px;
    width: 120px;
		height: 101px;
}

.THIS .locationAndHours{
  width: 190px;
}

.THIS .phoneNumbers{
  width: 100%;
}

.THIS .corporateLogo{
  display: block;
  width: 120px;
  min-width: 120px;
  height: 18px;
  background-image: url('/sfsites/c/resource/LegendLogo');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}