.THIS {
  font-family: 'gotham_htf', Montserrat, Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
}
.THIS .storeDetails{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 1640px;
    margin: 0 auto;
    padding: 1.5em 2.5em 1em;
}
.THIS .mainNavigation{
    width: 100%;
}
.THIS .storeLogoIcon{
    background-image: t('url(' + brandLogoImage + ')');
		background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    text-indent: -99999px;
    width: 90px;
		height: 74.5px;
		flex-shrink: 0;
}
.THIS .storeLogoIcon:hover, .THIS .storeLogoIcon:focus{
  text-decoration: none;
}

.THIS .locationAndHours{
  width: 190px;
  flex-shrink: 0;
  margin-left: 1em;
}

.THIS .phoneNumbers{
  width: 100%;
}

.THIS .corporateLogo{
  display: block;
  width: 280px;
  height: 42px;
  flex-shrink: 0;
  background-image: url('/sfsites/c/resource/LegendLogo');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.THIS .footerLegal{
	max-width: 1300px;
	margin: 0 auto;
	padding: 2.5em;
	font-family: 'gotham_htf', Montserrat, Lato, Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 0.825em;
	line-height: 1.35;
}