.THIS h1 {
	font-size: 1.4em;
	font-weight: bold;
	padding-bottom: 0.5em;
}

.THIS .slds-box {
	border: 2px solid #333;
	border-radius: 0.375em;	
	border-color: red;
}

.THIS .slds-box .slds-box {
	border: 1px solid rgb(37, 116, 169);
	background: rgba(37, 116, 169, 0.08);
	font-weight: bold;
	text-align: center;
}