/**
 * Created by dave on 2020-03-12.
 */

.THIS .slds-is-lost {
  color:#FFF;
}

.THIS.error-container {
  text-align: center;
  margin:1rem;
}

.THIS.error-container .slds-notify {
  max-width:500px;
}