body, html, :root {
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 height: 100%;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 overflow-x: hidden;
}
 body, :root {
	 margin: 0;
	 padding: 0;
}
body *, :root *{
	 font-family: 'gotham_htf'!important;
	 font-size: 100%;
	 font-weight: 200;
}
body > *, :root > *{
  color: var(--primary);
}
 body.videoPlay, body.flyoutOpen {
	 overflow: hidden;
}
 body .ro, :root .ro {
	 position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 width: 1px;
	 margin: -1px;
	 padding: 0;
	 border: 0;
}
 body a, :root a {
	 color: var(--highlight);
	 font-weight: 600;
	 text-decoration: none;
	 cursor: pointer;
}
 body a:hover, :root a:hover {
	 text-decoration: underline;
}
 body a:focus, :root a:focus {
	 outline: 1px dotted #00adf0 !important;
}
 body strong, body b, :root strong, :root b {
	 font-weight: inherit;
}
 body img, :root img {
	 display: block;
	 width: 100%;
	 max-width: 100%;
	 height: auto;
}
 body h1, body h2, body h3, body h4, body h5, body h6, :root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
	 margin-top: 0;
	 margin-bottom: 0;
}
 body i, :root i {
	 font-style: normal;
}
 body:not(.user-is-tabbing) button:focus, :root:not(.user-is-tabbing) button:focus {
	 outline: none;
}
 svg:not(:root) {
	 overflow: visible !important;
}
 .maxWidth {
	 display: block;
	 width: 95%;
	 max-width: 1645px;
	 margin: 0 auto;
}
 .maxWidth.maxWidth--thin {
	 max-width: 1300px;
}
 .maxWidth.maxWidth--extraThin {
	 max-width: 1080px;
}
 .maxWidth.maxWidth--ultraThin {
	 max-width: 768px;
}
 .fullWidth {
	 width: 100vw;
	 margin-left: calc(50% - 50vw);
	 margin-right: calc(50% - 50vw);
}
 .lazyed {
	 animation: lazyIn;
	 animation-duration: 1s;
}
 .zebra {
	 background-color: var(--zebra);
}
 .zebra.zebra--split {
	 background: var(--zebra-split);
}

.DESKTOP.comm-panels-container.uiContainerManager.siteforcePanelsContainer{
  display: none;
}

/* Service Appointment Overrides */
.forceCommunityFlowCommunity{
  border: 0 none!important;
 	max-width: 1300px;
 	margin: 0 auto;
}
.flowRuntimeV2 .slds-form-element__label{
  font-size: 1.12rem;
}
.flowRuntimeV2 .slds-input,
.flowRuntimeV2 .slds-select,
.flowRuntimeV2 .slds-textarea,
.flowRuntimeV2 .uiInput--select{
  border: 1px solid #bebebe;
	box-sizing: border-box;
	font-size: 1.125rem;
}
/*.flowRuntimeV2 .slds-input-has-icon_left-right .slds-input{*/
/*  padding-left: var(--lwc-spacingXLarge,2rem);*/
/*	padding-right: var(--lwc-spacingXLarge,2rem);*/
/*}*/
/*.flowRuntimeV2 .body{*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  align-items: flex-start;*/
/*  justify-content: space-between;*/
/*}*/
/*.flowRuntimeV2 .body .slds-m-bottom_x-small{*/
/*  width: calc(50% - 10px);*/
/*}*/
/*.flowRuntimeV2 .body > div:first-of-type{*/
/*  width: 100%;*/
/*  margin-bottom: 1.25em;*/
/*}*/
.flowRuntimeV2 .body div.slds-m-bottom_x-small:nth-of-type(2){
  display: none!important;
}
/*.flowRuntimeV2 .body .cFlowProgressIndicator{*/
/*  width: 100%;*/
/*}*/
.flowRuntimeV2 .body .cFlowProgressIndicator .slds-path__nav .slds-is-active,
.flowRuntimeV2 .body .cFlowProgressIndicator .slds-path__nav .slds-is-active:first-child::before,
.flowRuntimeV2 .body .cFlowProgressIndicator .slds-path__nav .slds-is-active:first-child::after,
.slds-path__nav .slds-is-active::before,
.slds-path__nav .slds-is-active::after{
  background-color: var(--highlight);
}
.flowRuntimeV2 .body .cFlowProgressIndicator .slds-path__nav .slds-is-current:first-child:hover::before,
.flowRuntimeV2 .body .cFlowProgressIndicator .slds-path__nav .slds-is-current:first-child:hover::after{
  background-image: none;
}
.flowRuntimeV2 .body .cFlowProgressIndicator .slds-path__nav .slds-is-active .slds-path__link .slds-path__title{
  font-weight: 900;
}
.flowRuntimeV2 .lgnd_form_address .slds-p-around_x-small, .flowRuntimeV2 .lgnd_form_address .slds-p-around--x-small{
  padding-left: 0; padding-right: 0;
}
.flowRuntimeV2 .lgnd_form_address .slds-large-size_8-of-12, .flowRuntimeV2 .lgnd_form_address .slds-large-size--8-of-12{
  padding-right: 1em;
}
.flowRuntimeV2 .actionsRight{
  display: flex;
}
.flowRuntimeV2 .slds-button.slds-button_brand,
.flowRuntimeV2 .slds-button.slds-button_neutral{
    display: flex;
  	align-items: center;
  	transition: all .3s linear;
  	border: 1px solid #0d506d;
  	border-radius: 5px;
  	text-decoration: none;
  	width: fit-content;
  	width: -moz-fit-content;
  	cursor: pointer;
  	font-size: 1.25em !important;
  	font-weight: 900 !important;
  	line-height: 1;
  	box-sizing: border-box;
  	padding: .5em 1em;
  	color: #0d506d;
}
.flowRuntimeV2 .slds-button.slds-button_brand{
	background-color: #0d506d;
	color: #fff;
}
.flowRuntimeV2 .slds-button.slds-button_brand:hover, .flowRuntimeV2 .slds-button.slds-button_brand:focus{
  background-color: #fff;
	color: #0d506d;
	text-decoration: none;
}


.leadForm__fieldList .input label, .leadForm__fieldList .input legend, .leadForm__fieldList .input .slds-form-element__label {
	 margin-bottom: 0.25em;
	 font-size: 1.125em;
}
.leadForm__fieldList .input label strong, .leadForm__fieldList .input legend strong, .leadForm__fieldList .input .slds-form-element__label strong {
	 font-weight: 600;
}
.leadForm__fieldList .input label .optional, .leadForm__fieldList .input legend .optional {
	 font-size: 0.8em;
	 font-style: italic;
}
.slds-input, .leadForm__fieldList .input textarea, .leadForm__fieldList .input select {
	 width: 100%;
	 font-size: 1.125em;
	 padding: 0.3em 0.5em 0.2em;
	 box-sizing: border-box;
	 border: 1px solid #bebebe;
	 border-radius: 0;
	 transition: all 0.2s linear;
}
.leadForm__fieldList .input select {
	 appearance: none;
	 background: #fff url(../../img/standard/icon-select.png) no-repeat top 18px right 20px;
}
.leadForm__fieldList .input textarea {
	 height: 5em;
}
.leadForm__fieldList .input input:focus, .leadForm__fieldList .input textarea:focus, .leadForm__fieldList .input select:focus {
	 border: 1px solid #ffdf2e;
	 box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.7) !important;
	 outline: none;
}
.leadForm__fieldList .input.input--checkbox .slds-checkbox_faux {
	 width: 20px;
	 height: 20px;
	 border: 1px solid #bebebe;
}
.leadForm__fieldList .input.input--checkbox input:focus + .slds-checkbox__label .slds-checkbox_faux {
	 border: 1px solid #ffdf2e;
}
.leadForm__fieldList .input.input--checkbox input:checked + .slds-checkbox__label .slds-checkbox_faux::before {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 8px;
	 height: 16px;
	 transform: rotate(-36deg);
	 border-radius: 100vh;
	 left: -1px;
	 top: 3px;
	 background-color: var(--highlight);
	 border: none!important;
}
.leadForm__fieldList .input.input--checkbox input:checked + .slds-checkbox__label .slds-checkbox_faux::after {
	 content: "";
	 display: block;
	 position: absolute;
	 width: 8px;
	 height: 38px;
	 transform: rotate(38deg);
	 border-radius: 100vh;
	 top: -16px;
	 left: 12px;
	 background-color: var(--highlight);
	 border: none!important;
}