.THIS {
  margin: -1rem -2rem;
  height:250px;
  position:relative;
}

.THIS header {
  padding:0;
}

.THIS header h2 {
  line-height: 3rem;
}

.THIS .content {
  height: calc( 250px - 6rem );
  padding: 0 1rem;
}

.THIS footer {
  position: absolute;
  bottom:0;
  width:100%;
  line-height: 3rem;
  padding: 0 1rem;
}