/**
 * Created by dave on 2020-09-15.
 */

.THIS {
  width: 98%;
  margin: 1rem auto;
}

.THIS .slds-page-header {
  width:100%;
}

.THIS .slds-page-header h1 {
  margin:0;
}

.THIS .slds-page-header .order-total {
  font-size: 1.3rem;
  font-weight: 300;
}

.THIS .slds-page-header .order-total-small {
  font-size: 1rem;
  font-weight: 300;
}

.THIS.slds-modal__footer {
  /*margin: -1rem;*/
  background:  rgb(244, 246, 249);
  box-shadow: none;
}

.THIS .slds-button_success {
  color: #FFF;
}

@media only screen and (max-width: 48em) {
  .THIS .slds-max-medium-table--stacked tr {
      border-top: 2px solid #0070d2;
  }
}