/**
 * Created by dave on 2021-10-27.
 */
.gauge-reading {
  width: 250px;
  position: absolute;
  text-align: center;
  height: 75px;
  color: #02716b;
  left: calc(50% - 125px);
}

.gauge-reading .value {
  line-height: 60px;
  font-size: 60px;
}

.gauge-reading .label {
  line-height: 15px;
  font-size: 12px;
}

.gauge .gauge-reading {
  top: calc(50% - 20px);
}

.donut .gauge-reading {
  top: calc(50% - 30px);
}

canvas {
  margin: auto;
}
