/**
 * Created by dave on 2022-05-26.
 */

.card-wrap {
  border-width: var(--slds-c-card-sizing-border,  var(--lwc-borderWidthThin,1px));
  border-style: solid;
  border-color: var(--lwc---lwc-colorBorder,rgb(201, 201, 201));
  border-radius: var(--lwc-borderRadiusMedium, .25rem);
  min-height: 120px;
}

.inactive {
  color: red;
}