.THIS.fileList li {
  line-height: 1.75rem;
  height: 1.75rem;
  border-top: 1px solid #d8dde6;
  color: #566b8f;
}

.THIS.fileList li:last-child {
  border-bottom: 1px solid #d8dde6;
  margin-bottom:10px;
}