/**
 * Created by legend on 2020-06-26.
 */
 .slds-form-element {
     max-width: 700px !important;
 }

 @media (min-width: 48em) {
     .slds-scope .slds-form-element_horizontal .slds-form-element__label {
         float: none !important;
     }
     .slds-form-element_horizontal .slds-form-element__control {
         padding-left: none !important;
     }
}