.THIS {
  min-height: 300px;
  position:relative;
}

.THIS .data-group {
  margin-top: 1rem;
}

.THIS .data-group:first-child {
  margin-top: 0;
}

.THIS .data-group .slds-text-heading_small {
  line-height: 2rem;
  border-bottom: 1px solid #9e9e9e;
  font-weight: bold;
}


.THIS .slds-grid.line-item {
  border-top: 1px solid #d8dde6;
  position:relative;
}

.THIS .slds-grid.line-item.has-children > div {
  padding-bottom: 0.25rem;
}

.THIS .slds-grid.line-item:first-child {
  border-top: none;
}

.THIS .slds-grid.line-item:last-child {
  border-bottom: 1px solid #d8dde6;
}

.THIS .slds-grid.line-item.sub-item {
  padding: 0.125rem 0.75rem 0.125rem 2rem;
  border-top: none;
}

.THIS .slds-grid.line-item.sub-item:before {
  position:absolute;
  content:'';
  bottom: 50%;
  left: 1rem;
  width: 0.9rem;
  height: 100%;
  border: 1px solid #CCC;
  border-right-color: transparent;
  border-top-color: transparent;
}

.THIS .slds-grid.line-item.has-children + .line-item.sub-item:before {
  height: 60%;
}

.THIS .slds-grid.line-item.line-total {
  border-bottom: none;
  font-size: 1.25rem;
}

.THIS .quantity {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 4px;
  color: #FFF;
  background: #0070d2;
  text-align: center;
  display: inline-block;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
}

.THIS .quantity span {
  font-size:1rem;
  margin-left: 5px;
}

.THIS .notes-container {
  min-height: 6rem;
  max-height: 6rem;
  overflow: auto;
  border:1px solid #d8dde6;
  border-radius: 4px;
  width: 100%;
  padding: 0.75rem;
  margin-bottom:1rem;
}

.THIS .grand-total {
  padding: 1rem;
  border: 1px solid #d8dde6;
  border-radius: 4px;
  width: 90%;
  margin: auto;
  position: relative;
  top: -1rem;
}