.THIS .slds-listbox {
  max-height: 400px;
  overflow-y: auto;
}

.THIS .slds-listbox a:hover {
  text-decoration: none;
}

.THIS .slds-listbox__option-meta.slds-listbox__option-meta_entity p {
  white-space: initial;
}