/**
 * Created by dave on 2021-03-04.
 */

.THIS .balance-container {
  display: block;
  border-radius:5px;
  margin: 0 auto;
  background-color: #1b5297;
  color: #FFF;
}

.THIS .balance-container:hover {
  text-decoration: none;
  background-color: #134487;
}

.THIS .balance-container h2 {
  display: block;
  width: 100%;
  text-align: center;
}

.THIS .balance-container > .balance {
  font-size: 1.25rem;
  width:100%;
  text-align: center;
}

.THIS .slds-modal.slds-modal_large .slds-modal__container {
  max-width: 1024px;
}

.THIS .slds-modal.slds-modal_large .slds-modal__container .slds-modal__content {
  position:relative;
}

.THIS .slds-modal.slds-modal_large .slds-modal__container .slds-modal__content > .slds-modal,
.THIS .slds-modal.slds-modal_large .slds-modal__container .slds-modal__content > .slds-backdrop {
  position: absolute;
}



