/**
 * Created by dave on 2021-03-04.
 */

.THIS .balance-container {
  display: block;
  width: 40%;
  min-width:420px;
  max-width: 500px;
  border-radius:4px;
  margin: 0 auto;
}

.THIS .balance-container:hover {
  text-decoration-color: #FFF;
}

.THIS .balance-container .slds-notify_alert {
  display:block;
}

.THIS .slds-notify_alert > .title {
  display:inline-flex;
}

.THIS .slds-notify_alert > .balance {
  font-size: 1.2rem;
}

.THIS .slds-modal.slds-modal_large .slds-modal__container {
  max-width: 1024px;
}

.THIS .slds-modal.slds-modal_large .slds-modal__container .slds-modal__content {
  position:relative;
}

.THIS .slds-modal.slds-modal_large .slds-modal__container .slds-modal__content > .slds-modal,
.THIS .slds-modal.slds-modal_large .slds-modal__container .slds-modal__content > .slds-backdrop {
  position: absolute;
}



