.THIS {
  display: relative;
  margin: 1rem;
}

.THIS .hidden {
  display: none;
}

.THIS #toast {
  position: absolute !important;
  top: 50px !important;
}

.THIS #toast .slds-notify.slds-notify--toast {
  width: 300px !important;
  min-width: 300px !important;
  max-width: 300px !important;
}

/*.THIS .slds-notify_container .slds-notify.slds-notify--toast button {

}

.THIS .slds-notify_container .slds-notify.slds-notify--toast .slds-icon-text-default {
  fill: #F9F9F9;
}*/

.THIS #step-one,
.THIS #step-two {
  display: none;
}

.THIS #step-one.step-1,
.THIS #step-two.step-2 {
  display: initial;
}


.THIS .complete {
  margin-top: 30%;
  text-align: center;
}

.THIS .complete h1 {
  font-size: 1.2rem;
}

.THIS .slds-form-element {
  margin-bottom: 0.5rem;
}

.THIS .slds-form-element .slds-form-element__help {
  position:absolute;
  top:0;
  right:0;
}

.THIS .slds-textarea {
  height: 85px;
}


.THIS .slds-button.btm-right-button {
  position:absolute;
  bottom:10px;
  right: 1rem;
}

.THIS .slds-button.btm-left-button {
  position:absolute;
  bottom:10px;
  left: 1rem;
}