.THIS.drag-container {
  overflow-y:auto;
  height:inherit;
  padding-bottom:4rem;
}

.THIS .slds-card.schedulable {
  background: #f3f2f2;
}

.THIS .slds-card.schedulable.retail {
  background: #0db504;
}

.THIS .slds-card.schedulable.service {
  background: #008fd4;
}

.THIS .slds-card.schedulable.internal {
  background: #9300a1;
}

.THIS .slds-card.schedulable.trade {
  background: #a9001c;
}

.THIS .slds-card.schedulable.scheduling {
  visibility: hidden;
}