/**
 * Created by Tim on 2021-03-30.
 */

.storePhoneNumbers{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}
.storePhoneNumbers li{
	padding: 0 2em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}
.storePhoneNumbers li a{
  padding-left: 0.5em;
  white-space: nowrap;
  color: #000;
}

.slds-icon-utility-call{
  --sds-c-icon-color-foreground: #00b0ed;
  --sds-c-icon-color-foreground-default: #00b0ed;
}


@media screen and (max-width: 420px){
  .storePhoneNumbers .storePhoneNumbers__item .label{
    display: none;
  }
  .storePhoneNumbers .storePhoneNumbers--service, .storePhoneNumbers .storePhoneNumbers--parts{
    display: none;
  }
}