/**
 * Created by Tim on 2021-03-30.
 */

.storePhoneNumbers{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}
.storePhoneNumbers li{
	padding: 0 2em;
	display: flex;
	aling-items: center;
}
.storePhoneNumbers li a{
  padding-left: 0.5em;
  color: #000;
}