/**
 * Created by Tim on 2020-04-22.
 */
.vh{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
.options_includedProducts{
    list-style: disc;
    font-size: 1em;
    line-height: 1.65;
    color: #5f5f5f;
    margin: 0 0 0.5em 1.5em;
}
.options_label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.05em;
    border: 2px solid #FFF;
    box-shadow: 0 0 0 1px #e5e5e5;
    border-radius: 100vw;
    box-sizing: border-box;
    padding: 0.75em 1em;
    transition: all 0.2s;
    cursor: pointer;
}
.options_label[data-layout-type="alt-swatch"]{
  width: 50px; height: 50px;
}
.options_label_name, .options_label_price{
    display: block;
}
.options_label_name{
    margin-left: 0.5em;
}
.options_label_price{
    margin-left: auto;
    color: #7f7f7f;
}
.options_label_checkbox{
    content: ''; display: block;
    width: 20px; height: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #FFF;
    position: relative;
}

input[type="checkbox"]:focus + .options_label,
input[type="radio"]:focus + .options_label{
    background-color: var(--legend-focus);
}

input[type="checkbox"]:checked + .options_label,
input[type="radio"]:checked + .options_label{
    /*border: 1px solid #2AB2F0;*/
    box-shadow: 0 0 0 3px #2AB2F0;
}
input[type="checkbox"]:checked + .options_label .options_label_price,
input[type="radio"]:checked + .options_label .options_label_price{
    color: #000;
    font-weight: 600;
}

input[type="checkbox"]:checked + .options_label .options_label_checkbox::before, .options_label_checkbox::after,
input[type="radio"]:checked + .options_label .options_label_checkbox::before, .options_label_checkbox::after{
    content: "";
    display: block;
    position: absolute;
    height: 2.5px;
    border-radius: 100vh;
    background-color: #2AB2F0;
}
input[type="checkbox"]:checked + .options_label .options_label_checkbox::before,
input[type="radio"]:checked + .options_label .options_label_checkbox::before{
    width: 7px;
    transform: rotate(40deg);
    top: 55%;
    left: 20%;
}
input[type="checkbox"]:checked + .options_label .options_label_checkbox::after,
input[type="radio"]:checked + .options_label .options_label_checkbox::after{
    width: 10px;
    transform: rotate(-50deg);
    top: 42%;
    left: 37%;
}
.options_deck{
    font-size: 1em;
    line-height: 1.65;
    color: #5f5f5f;
    margin-top: 0.5em;
    padding: 0.5em 1.5em 1em;
}

.options_label[data-layout-type="alt-swatch"] .options_label_name, .options_label[data-layout-type="alt-swatch"] .options_label_price, .options_deck[data-layout-type="alt-swatch"]{
	position: absolute;
	display: none;
}

.options_label[data-layout-type="alt-swatch"] .options_label_name{
	left: 0; bottom: 0;
}
.options_label[data-layout-type="alt-swatch"] .options_label_price{
  right: 0; bottom: 0;
}
.options_deck[data-layout-type="alt-swatch"]{
  width: 100%;
	position: absolute;
	left: 0;
	bottom: -4em;
	padding: 0 0 0 0.5em;
}
input[type="radio"]:checked + .options_label[data-layout-type="alt-swatch"] .options_label_name,
input[type="radio"]:checked + .options_label[data-layout-type="alt-swatch"] .options_label_price,
input[type="radio"]:checked + .options_label[data-layout-type="alt-swatch"] + .options_deck[data-layout-type="alt-swatch"]{
  display: block;
}

.detailedSummaryWrapper{
  margin-top: 1.5em;
}
.detailedSummaryTrigger{
  background: none;
	border: 0;
	position: relative;
	padding-top: 0.5em;
	padding-left: 2.25em;
	padding-bottom: 0.5em;
}
.detailedSummaryTrigger strong{
  display: inline;
  font-weight: normal;
}
.detailedSummaryTrigger::before{
  content: "";
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	border: 2px solid #333;
	border-radius: 100vh;
	position: absolute;
	top: 0.4em;
	left: 0.25em;
}
.detailedSummaryTrigger strong::before, .detailedSummaryTrigger strong::after{
	content: "";
	display: block;
	width: 1px;
	height: 8px;
	background: #333;
	position: absolute;
	left: 0.95em;
	top: 0.85em;
	transition: all .2s linear;
}
.detailedSummaryTrigger strong::after{
	transform: rotate(90deg);
}
.detailedSummaryTrigger strong.open::before{
  transform: rotate(90deg);
}
.detailedSummaryTrigger:hover{
  text-decoration: underline;
}
.detailedSummaryTrigger:focus{
  outline: 2px dashed #333;
}
.detailedSummary{
  margin-top: 1.5em;
  height: auto;
  opacity: 1;
  transition: all 0.2s linear;
}
.detailedSummary[data-state="collapsed"]{
  height: 0; opacity: 0;
  overflow: hidden;
}
.detailedSummary p{
  width: 100%; padding: 0; margin: 0;
}
.detailedSummary p img{
  display: block;
  max-width: 325px; margin: 1em auto;
}
.detailedSummary p b{
  display: block;
  font-weight: normal;
  font-size: 1.25em; line-height: 1;
  padding: 1em 0 0;
}