/**
 * Created by Tim on 2020-04-22.
 */
.vh{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
.options_includedProducts{
    list-style: disc;
    font-size: 1em;
    line-height: 1.65;
    color: #5f5f5f;
    margin: 0 0 0.5em 1.5em;
}
.options_label{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.05em;
    border: 1px solid #e5e5e5;
    border-radius: 100vw;
    box-sizing: border-box;
    padding: 0.75em 1em;
    transition: all 0.2s;
    cursor: pointer;
}
.options_label_name, .options_label_price{
    display: block;
}
.options_label_name{
    margin-left: 0.5em;
}
.options_label_price{
    margin-left: auto;
    color: #7f7f7f;
}
.options_label_checkbox{
    content: ''; display: block;
    width: 20px; height: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background-color: #FFF;
    position: relative;
}

input[type="checkbox"]:focus + .options_label,
input[type="radio"]:focus + .options_label{
    background-color: var(--legend-focus);
}

input[type="checkbox"]:checked + .options_label,
input[type="radio"]:checked + .options_label{
    border: 1px solid #2AB2F0;
    box-shadow: 0 0 0 2px #2AB2F0;
}
input[type="checkbox"]:checked + .options_label .options_label_price,
input[type="radio"]:checked + .options_label .options_label_price{
    color: #000;
    font-weight: 600;
}

input[type="checkbox"]:checked + .options_label .options_label_checkbox::before, .options_label_checkbox::after,
input[type="radio"]:checked + .options_label .options_label_checkbox::before, .options_label_checkbox::after{
    content: "";
    display: block;
    position: absolute;
    height: 2.5px;
    border-radius: 100vh;
    background-color: #2AB2F0;
}
input[type="checkbox"]:checked + .options_label .options_label_checkbox::before,
input[type="radio"]:checked + .options_label .options_label_checkbox::before{
    width: 7px;
    transform: rotate(40deg);
    top: 55%;
    left: 20%;
}
input[type="checkbox"]:checked + .options_label .options_label_checkbox::after,
input[type="radio"]:checked + .options_label .options_label_checkbox::after{
    width: 10px;
    transform: rotate(-50deg);
    top: 42%;
    left: 37%;
}
.options_deck{
    font-size: 1em;
    line-height: 1.65;
    color: #5f5f5f;
    margin-top: 0.5em;
    padding: 0.5em 1.5em 1em;
}
