.THIS.theForm {
  margin:auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  max-width: 50rem;
}

.THIS.theForm .slds-grid {
  margin-bottom: 0;
}

.THIS.theForm .slds-grid:last-child {
  margin-bottom: 0;
}

.THIS.slds-modal__footer {
  /*margin: -1rem;*/
  background:  rgb(244, 246, 249);
  box-shadow: none;
}

.THIS .slds-checkbox--toggle .slds-form-element__label,
.THIS .slds-checkbox--toggle .slds-checkbox--faux_container .slds-checkbox--on,
.THIS .slds-checkbox--toggle .slds-checkbox--faux_container .slds-checkbox--off{
  display: none !important;
}

.THIS .centerToggle {
  left: calc(50% - 1.5rem);
}