.THIS .clearfix {
	clear: both;
}
.THIS .align-right {
	text-align: right;
}
.THIS .slds-card.summary {
	padding: 1em;
}
.THIS th {
	font-weight: bold;
}
.THIS .slds-form-element__label {
	font-size: 1em;
}

.THIS .nolabel .slds-form-element__label { display: none; }