/**
 * Created by Tim on 2021-04-26.
 */

.heading{
  text-align: center;
  margin-top: 0.5em;
}
.dates{
  display: flex;
  align-items: center;
  justify-content: center;
}
.dates span{
  padding: 0 1em;
}
.banner{
  display: block;
  margin-top: 1em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 0; padding-bottom: 32%;
}
.btn{
  margin: 1em 0;
}