body, html, :root {
	 margin: 0;
	 padding: 0;
	 width: 100%;
	 height: 100%;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 body, :root {
	 margin: 0;
	 padding: 0;
}
body *, :root *{
	 font-family: 'gotham_htf'!important;
	 font-size: 100%;
	 font-weight: 200;
}
body > *, :root > *{
  color: var(--primary);
}
 body.videoPlay, body.flyoutOpen {
	 overflow: hidden;
}
 body .ro, :root .ro {
	 position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height: 1px;
	 width: 1px;
	 margin: -1px;
	 padding: 0;
	 border: 0;
}
 body a, :root a {
	 color: var(--highlight);
	 font-weight: 600;
	 text-decoration: none;
	 cursor: pointer;
}
 body a:hover, :root a:hover {
	 text-decoration: underline;
}
 body a:focus, :root a:focus {
	 outline: 1px dotted #00adf0 !important;
}
 body strong, body b, :root strong, :root b {
	 font-weight: inherit;
}
 body img, :root img {
	 display: block;
	 width: 100%;
	 max-width: 100%;
	 height: auto;
}
 body h1, body h2, body h3, body h4, body h5, body h6, :root h1, :root h2, :root h3, :root h4, :root h5, :root h6 {
	 margin-top: 0;
	 margin-bottom: 0;
}
 body i, :root i {
	 font-style: normal;
}
 body:not(.user-is-tabbing) button:focus, :root:not(.user-is-tabbing) button:focus {
	 outline: none;
}
 svg:not(:root) {
	 overflow: visible !important;
}
 .maxWidth {
	 display: block;
	 width: 95%;
	 max-width: 1645px;
	 margin: 0 auto;
}
 .maxWidth.maxWidth--thin {
	 max-width: 1300px;
}
 .maxWidth.maxWidth--extraThin {
	 max-width: 1080px;
}
 .maxWidth.maxWidth--ultraThin {
	 max-width: 768px;
}
 .fullWidth {
	 width: 100vw;
	 margin-left: calc(50% - 50vw);
	 margin-right: calc(50% - 50vw);
}
 .lazyed {
	 animation: lazyIn;
	 animation-duration: 1s;
}
 .zebra {
	 background-color: var(--zebra);
}
 .zebra.zebra-split {
	 background: var(--zebra-split);
}

.DESKTOP.comm-panels-container.uiContainerManager.siteforcePanelsContainer{
  display: none;
}
