.THIS .slds-modal__container {
  max-width: 50rem;
}

.THIS .slds-modal__content {
  max-height: 450px;
  overflow-y: auto;
}

.THIS .uiInput--input .input {
  min-height: 1.875rem;
}

.THIS .estimation {
  padding: 0.25rem 0.75rem;
  border: 1px solid #75c170;
  border-radius: 4px;
  background: #60f780;
  font-size: 1rem;
  color: white;
  position: relative;
  bottom: 5px;
}