  /*h1.pageType {
    color:#0070C9 !important;
  }

  h2.pageDescription {
    color:#0070C9;
  }*/

   h1.lgnd {
    margin:0px;
    color: #0070C9;
    font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    width: 100% !important;
    max-width: 80rem;
    margin: 1em auto 0.5em !important;
    display: block !important;
    font-size: 2.5em !important;
    font-weight: 300 !important;
    border-bottom: 1px solid #0070C9;
    text-align:center;
  }

  h3.lgnd {
    margin:0px;
    padding:10px 0 4px 25px !important;
    color: #0070C9;
    font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    width: 100% !important;
    max-width: 80rem;
    margin: 0 auto 20px !important;
    display: block !important;
    font-size: 1.6em !important;
    font-weight: 300 !important;
    border-bottom: 1px solid #0070C9;
  }

  h4.lgnd {
    margin:0px;
    padding:1em 0 4px 25px !important;
    color: #0070C9;
    font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    width: 100% !important;
    max-width: 80rem;
    margin: 0 auto 20px !important;
    display: block !important;
    font-size: 1.6em !important;
    font-weight: 300 !important;
  }

  /* Over ride standard page title positioning */

  .bPageTitle {
    text-align:center;
  }

  h1.pageType {
    font-size: .9em !important;
    border-bottom: none !important;
    color: #4A4A56;
    padding:0px;
    padding-left: 1px;
    margin-bottom:0 !important;
  }

  .bPageTitle .content{
    float:none !important;
    margin:auto;
  }

  .bPageTitle .content img {
    float:none;
  }

 /* overides for salesforce inserted elements to help play better with Foundation */
    .columns span.lookupInput input {
      display:inline-block;
      width:96%;
    }

    select.placeHolder {
      color:#959595;
    }

    .columns span.dateInput input {
      width:75%;
    }

    .columns span.dateOnlyInput input, .columns span.dateInput input {
      display:inline-block;
    }

    .columns span.dateOnlyInput span.dateFormat, .columns span.dateInput span.dateFormat {
      margin-left:5px;
    }

    /* Adjustments / Custom Classes to help with responsiveness */

    @media only screen and (min-width: 1024px){

      .large-only-right {
        float:right;
      }

    }

    /* Styles for the actual form MAKE SURE TO ADD 'legendForm' CLASS TO THE FORM */

    .legendForm label,
    .legendForm input,
    .legendForm textarea,
    .legendForm .fd_button {
      font-family: "Lato", "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
    }

    /* over ride foundation standard row width */
    .row {
      max-width:80rem;
    }

    .row.button_row {
      padding-top: 1rem;
      border-top: 1px solid #0070C9;
      margin-top: 1rem;
    }

    .row.button_row a,
    .row.button_row button {
      margin: 0 1rem 12.5rem 1rem;
    }

    select.placeHolder {
      color:#959595;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="date"]:focus,
    input[type="datetime"]:focus,
    input[type="datetime-local"]:focus,
    input[type="month"]:focus,
    input[type="week"]:focus,
    input[type="email"]:focus,
    input[type="number"]:focus,
    input[type="search"]:focus,
    input[type="tel"]:focus,
    input[type="time"]:focus,
    input[type="url"]:focus,
    select:focus,
    textarea:focus {
      background: #FFF;
      border-color: #B3C0FF;
      border-width:2px;
      outline: none;
      box-shadow: none;
      -webkit-transition:all 0 ease-in-out;
      -moz-transition:all 0s ease-in-out;
      -o-transition:all 0s ease-in-out;
      transition:all 0s ease-in-out;
    }

    .requiredInput select,
    .requiredInput input,
    .requiredInput textarea,
    input[required=required],
    input[data-required] {
      border-left: 3px solid red;
    }

    .large-text-align-right {
      text-align: right;
    }

    .row.formBtnRow {
      margin-top:2em;
      padding-top:2em;
      border-top: 1px solid #0070C9;
    }

    .row.formBtnRow .fd_button {
      margin: 0 10px;
    }

    /* +++++++++ ERROR MESSAGES ++++++++++++ */

    .error {
      border-left: 3px solid red !important;
      border-right: 1px solid red !important;
      border-top: 1px solid red !important;
      border-bottom: 1px solid red !important;
      margin-bottom:1em !important;
    }

    .errorMsg {
      margin-top: -1em;
      margin-bottom: 1em;
      padding: 5px;
      padding-left: 1em;
      border-bottom: 1px solid #F00;
      border-left: 3px solid #F00;
      border-right: 1px solid #F00;
    }

  /* ++++++++++++++++++++ Checkbox Toggle Switch +++++++++++++++++ */

      .lg-toggle {
      position: absolute;
      margin-left: -9999px;
      visibility: hidden;
      box-sizing: border-box;
    }

    .lg-toggle + label {
      display: block;
      position: relative;
      cursor: pointer;
      outline: none;
      user-select: none;
      box-sizing: border-box;
    }

    input.lg-toggle-round + label {
      padding: 2px;
      width: 60px;
      height: 30px;
      background-color: #dddddd;
      border-radius: 60px;
    }

    input.lg-toggle-round.small + label {
      width: 30px;
      height: 15px;
      border-radius: 40px;
    }

    input.lg-toggle-round + label > i {
      display:none;
      position:absolute;
      top:8px;
      z-index:1;
      left:9px;
      color:#999;
    }

    input.lg-toggle-round:checked + label > i {
      left:38px;
      color:#8ce196;
    }

    input.lg-toggle-round.busy + label > i {
      display:inline-block;
    }

    input.lg-toggle-round + label:before,
    input.lg-toggle-round + label:after {
      display: block;
      position: absolute;
      top: 1px;
      left: 1px;
      bottom: 1px;
      content: "";
    }
    input.lg-toggle-round + label:before {
      right: 1px;
      background-color: #f1f1f1;
      border-radius: 60px;
      transition: background 0.4s;
    }

    input.lg-toggle-round.small + label:before {
      border-radius: 15px;
    }

    input.lg-toggle-round + label:after {
      width: 29px;
      background-color: #fff;
      border-radius: 100%;
      transition: margin 0.4s;
    }

    input.lg-toggle-round.small + label:after {
      width: 14px;
    }

    input.lg-toggle-round:checked + label:before {
      background-color: #8ce196;
    }

    input.lg-toggle-round:checked + label:after {
      margin-left: 29px;
    }

    input.lg-toggle-round.small:checked + label:after {
      margin-left: 14px;
    }

  /* ========================= /Checkbox Toggle Switch ================ */
