<div aria-hidden="false" role="dialog" class="slds-modal" id="slds-confirm">
  <div class="slds-modal__container">

    <div class="slds-modal__header">
      <h2 class="slds-text-heading--medium">Are you sure this is what you want?</h2>
    </div>

    <div class="slds-modal__content">
      {{this}}
    </div>

    <div class="slds-modal__footer">
      <div class="slds-x-small-buttons--horizontal">
        <button class="slds-button slds-button--neutral confirm-btn" data-confirm-answer="false">Cancel</button>
        <button class="slds-button slds-button--neutral slds-button--brand confirm-btn" data-confirm-answer="true">Yes</button>
      </div>
    </div>

  </div>
</div>
