.THIS .stage {
	border: 2px solid #333;
	border-radius: 0.375em;	
	padding: 1em;
}

	.THIS #stage-1 { border-color: red !important; }
	.THIS #stage-1 h3 { color: red; }

	.THIS #stage-2 { border-color: red !important; }
	.THIS #stage-2 h3 { color: red; }

	.THIS #stage-3 { border-color: orange !important; }
	.THIS #stage-3 h3 { color: orange; }

	.THIS #stage-4 { border-color: royalblue !important; }
	.THIS #stage-4 h3 { color: royalblue; }

	.THIS #stage-5 { border-color: green !important; }
	.THIS #stage-5 h3 { color: green; }

	.THIS #stage-waiting { border-color: grey !important; }
	.THIS #stage-waiting h3 { color: grey; }

.THIS .stage h3 {
	font-size: 1.5em;
	font-weight: bold;
}

.THIS .stage p {
	margin: 1em 0;
}

.THIS .stage ul {
	margin: 1em 0; 
}

.THIS .stage ul li {
	list-style-type: square;
	margin-left: 2em;
}

.THIS .stage ol {
	margin: 1em 0;
}

.THIS .stage ol li {
	list-style-type: decimal;
	margin-left: 2em;
}

.THIS .stage .lgnd-button {
	border: 1px solid rgb(37, 116, 169);
	background: rgba(37, 116, 169, 0.08);
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.THIS .stage lightning-file-upload .slds-form-element__label { display: none; }
.THIS .stage .slds-file-selector {
	width: 100%;
}

.THIS .stage lightning-primitive-file-droppable-zone {
	border-radius: 0.25em;
	border: 1px dashed #000;
	height: 200px;
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	display: inline-block;
	text-align: center;
}