/**
 * Created by dave on 2020-02-21.
 */
 :host {
   margin: 1rem 0.5rem;
 }

 :host > div:first-child {
   position:relative;
   width:100%;
 }

 .error-message {
   margin: 0;
   text-align: center;
   position: absolute;
   z-index: 10;
   width: 500px;
   left: calc( 50% - 250px );
   top: -50px;
 }

 .error-message .slds-notify_alert {
   max-width:500px;
 }

 lightning-layout.busy {
   filter: blur(0.25rem);
 }