.THIS.toggle,
.THIS .toggle {
  display: none;
}

.THIS .detailsBtn {
  margin-bottom: 1rem;
}

.THIS .slds-spinner_container .spinner-text {
  position: absolute;
  text-align: center;
  width: 300px;
  top: 55%;
  left: calc( 50% - 150px );
  color: #999;
}

.THIS .promotion-message {
   border-radius: 5px;
   margin:0.5rem;
   padding:0.5rem;
   text-align:center;
 }

.THIS .promotion-message h2 {
 width: 100%;
 margin-bottom:0.25rem;
 font-size:1.2rem;
 font-weight:bold;
 text-align:center;
}