.THIS.toggle,
.THIS .toggle {
  display: none;
}

.THIS tbody > tr > td {
  vertical-align: top;
  line-height: 2rem;
  font-weight: bold;
}

.THIS .sub-item {
  margin-left: 1rem;
  padding-top: 0.5rem;
  position: relative;
  line-height: 1rem;
  font-weight: normal;
}

.THIS .sub-item.kit-item {
  margin-left: 2rem;
}


.THIS .sub-item:before {
  position:absolute;
  content:'';
  bottom: calc(50% - 0.25rem);
  left: -1rem;
  width: 0.9rem;
  height: 100%;
  border: 1px solid #CCC;
  border-right-color: transparent;

  border-top-color: transparent;
}

.THIS .sub-item.kit-item:before
{
  border-left-color: #CCC;
  height: 65%;
}

.THIS > tbody > tr > td > .sub-item.kit-item + .sub-item.kit-item:before {
  height: 100%;
}

.THIS .sub-item:first-child {
  padding-top: 0;
}

.THIS .sub-item:first-child:before {
  bottom:50%;
}

.THIS .sub-item.kit-item:after
{
  position:absolute;
  content:'';
  bottom: calc(50% - 0.25rem);
  left: -2rem;
  width: 0.9rem;
  height: 100%;
  border-left: 1px solid #CCC;
}

.THIS .sub-item.kit-item.last-kit-item:after
{
  border-left-color: transparent;
}

@media only screen and (max-width:48em) {
  .THIS .action-cell {
    text-align: right;
    overflow: visible;
  }
}