.THIS {
  margin-top: 1rem;
}

.THIS .slds-tabs--scoped__nav {
  background: #f4f6f9;
}

.THIS .slds-tabs--scoped__nav,
.THIS .slds-active > .slds-tabs--scoped__link,
.THIS .slds-tabs--scoped__link:hover,
.THIS .slds-tabs--scoped__content {
  border-color:#d8dde6;
}


.THIS h2 {
  font-size: 1rem;
  padding-left: 1rem;
  line-height: 2.5rem;
  margin-top: 1rem;
  background: #f4f6f9;
  border-top: 1px solid #d8dde6;
}


.THIS .collapse table
{
  display:none;
}

.THIS button svg {
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.THIS .collapse button svg {
  -ms-transform: rotate(-90deg); /* IE 9 */
  -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
}

.THIS h2 button {
  margin-right: 0.5rem;
}

.THIS h2 span.total {
  padding-right: 1rem;
}

.THIS h2:first-child {
  margin-top: 0;
}

.THIS th
 {
  color: #0070d2;
}

.THIS table.serialized-table th {
  width: 15%;
}

.THIS table.serialized-table th:first-child {
  width: 40%;
}

.THIS table.serialized-table th:first-child + td {
  width: 30%;
}

.THIS .order-total {
  font-size: 1.5rem;
  padding: 1rem;
  padding-bottom:0;
}