.THIS {
  border: 1px solid #D8DDE6;
  width: 100%;
  position:relative;
  margin-bottom: 2rem;
}

.THIS .hidden {
  display: none;
}

.THIS h1 {
  background: #F4F6F9;
}

.THIS .content-container {
  padding:1rem;
}

.THIS .sale-label {
  font-size: 16px;
  font-weight: 300;
}

.THIS .sale-label.amount {
  font-weight: 400;
}

.THIS .sale-label.amount.total {
  color:#0070D2;
}

.THIS .result-label {
  font-size: 18px;
  font-weight: 300;
}

.THIS .result-label.amount {
  font-weight: 400;
  font-size: 22px;
  color:#0070D2;
}