/**
 * Created by Tim on 2021-03-30.
 */

.hoursAndLocation.hoursAndLocation--condensed{
  font-size: 0.75em;
  line-height: 1.125;
}

.hoursAndLocation--condensed .hours{
  display: flex;
  flex-wrap: wrap;
}
.hoursAndLocation--condensed .hours > *{
  display: block;
}
.hoursAndLocation--condensed .hours .currentStatus{
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 5px;
}
.hoursAndLocation--condensed .hours .currentStatus.currentStatus--open{
  color: #10640C;
}
.hoursAndLocation--condensed .hours .currentDate{
  width: 100%;
}
.hoursAndLocation--condensed .location{
  margin-top: 0.5em;
}
.hoursAndLocation--condensed .location .addressLineOne{
  font-weight: bold;
  display: block;
}
.hoursAndLocation--condensed .location .addressLineOne b{
  white-space: nowrap;
}

.hoursAndLocation--expanded{
  display: block;
  position: relative;
}
.hoursAndLocation--expanded lightning-map{
  position: relative;
  width: 100%; height: 400px;
  z-index: 1;
}
.hoursAndLocation--expanded .mapLegend{
  display: block;
  position: absolute;
  bottom: 5%; left: 2%;
  width: fit-content;
  width: -moz-fit-content;
  height: 90%;
  background-color: var(--zebra);
  box-shadow: 0 0 20px 0px rgb(0 0 0 / 25%);
  box-sizing: border-box;
  border: 2px solid #ccc;
  padding: 1.5%;
  z-index: 2;
}

.hoursAndLocation--expanded .mapLegend .mapLegend__location{
  margin-bottom: 0.75em;
  font-size: 0.85em;
}
.hoursAndLocation--expanded .mapLegend .mapLegend__location .mapLegend__addressLineOne{
	font-weight: 300;
}
.hoursAndLocation--expanded .mapLegend .mapLegend__storeHours{
  margin-top: 0.5em;
  font-size: 0.85em;
}