/**
 * Created by Tim on 2020-04-23.
 */
.boatImage{
    width: 90%;
    margin: 0 auto;
    display: block;
}

@media screen and (max-width: 1024px){
    .boatImage[data-size="large"]{
        margin-top: 4em;
        max-width: 800px;
    }
}
