/**
 * Created by Tim on 2020-04-23.
 */
.compositeImageWrapper{
  display: block;
}
.compositeImageWrapper[data-page="summary"]{
  position: relative;
  min-height: 175px;
}
.compositeImage{
  width: 100%;
  position: absolute;
  top: 50%; left: 50%; transform: translate(-50%,-50%);
	margin: 0 auto;
	display: block;
	transition: all 0.2s linear;
}
.boatImage{
	z-index: 1;
}
.canvasImage{
  z-index: 2;
}
.transomImage{
  z-index: 4;
}
.electronicsImage{
  z-index: 2;
}
.motorImage{
  z-index: 3;
}

.boatImage[data-page="performance"]{
  /*padding-left: 7%;*/
}

@media screen and (max-width: 540px){
  .compositeImageWrapper:not([data-page="summary"]) .compositeImage{
    top: 35%;
  }
  .compositeImageWrapper[data-page="summary"] .compositeImage{
		top: 50%;
	}
}
