.THIS {
	margin-bottom: 1em;
}

.THIS .slds-input,
.THIS .slds-textarea,
.THIS .slds-select {
  border-color: #d8dde6;
}

.THIS>article {
	background-color: rgb(244, 246, 249);
}

.THIS .slds-notify {
	margin-bottom: 1rem;
}

.THIS .no-overflow {
	overflow: hidden;
}

.THIS .slds-checkbox--toggle .slds-form-element__label,
.THIS .slds-checkbox--toggle [type="checkbox"]:checked + .slds-checkbox--faux_container .slds-checkbox--on,
.THIS .slds-checkbox--toggle [type="checkbox"] + .slds-checkbox--faux_container .slds-checkbox--off {
	display: none;
}

.THIS .no-label label {
	display: none;
}

.THIS .with-padding {
	padding: 0.75rem;
}

.THIS #product-card,
.THIS #account-card {
	margin: 0.75rem;
}

.THIS #deliveryDate label span {
  color: #696969;
  font-size: .75rem;
}