@font-face {
    font-family: 'idlewild';
    src: url('Idlewild-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'idlewild';
    src: url('Idlewild-Bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'idlewild';
    src: url('Idlewild-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
