.THIS .dropzone {
	height: 50px;
	width: 100%;
	border: 1px dashed #ccc;
	border-radius: 0.25em;
	text-align: center;
	line-height: 50px;
	color: #ccc;
	margin: 10px 0;
}

.THIS .backlog {
	background: #333;
	border-color: #333;
}
	.THIS .backlog h1 {color: #fff;}

.THIS .dragItem {
	margin: 10px 0 0 0;
	background: linear-gradient(0deg, #eee, #fff);
}

.THIS .dragItem:hover {
	background: linear-gradient(0deg, #dfdfdf, #fdfdfd);
}

.THIS .grey {
	color: #999;
}